<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" th:href="@{/css/mainBoard.css}">
</head>
<style layout:fragment="style">
    .searchBtn:hover {
        background-color: #f48fb1;
    }
  #mainViewModal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
    .toggleOff {
        display: none;
    }

</style>
<body>
    <div layout:fragment="content">
<!--        검색 창-->
        <form action="/main" method="get" name="frmSearch">
            <div class="col">
                <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select class="form-select" id="type" th:name="type">
                            <option value="">---</option>
                            <option value="title" >제목</option>
                            <option value="content">내용</option>
                            <option value="nickName" >닉네임</option>
                            <option value="memberId">아이디</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" id="keyword" name="keyword">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="row mb-4">
            <div class="col-sm-6">
                <h2 class="posts-entry-title">Pink Jelly</h2>
            </div>
            <div class="col-sm-6 text-sm-end"><a href="category.html" class="read-more">View All</a></div>
            <a th:href="|@{/main/write}|" class="btn btn-primary">글쓰기</a>
        </div>

        <!-- 게시글 목록 -->
        <div class="row" id="wrap">
            <div class="col-lg-4 mb-4" th:each="mainBoard:${mainBoardList.dtoList}">
                <div class="post-entry-alt">
                    <a th:href="|@{/main/view(mbNo=${mainBoard.mbNo})}|" class="img-link">
                        <img th:src="|/upload/mainBoardView/${mainBoard.boardDateString[0]}/${mainBoard.mainImg[0]}|" alt="Image" class="img-fluid">
                    </a>
                    <div class="excerpt">
                        <h2><a th:href="|@{/main/view(mbNo=${mainBoard.mbNo})}|">[[${mainBoard.title}]]</a></h2>
                        <p>[[${mainBoard.content}]]</p>
                        <div class="post-meta align-items-center text-left clearfix">
                            <figure class="author-figure mb-0 me-3 float-start"><img th:src="|/upload/profileView/${mainBoard.dateString}/${mainBoard.profileImg}|" alt="Image placeholder" class="img-fluid"></figure>
                            <a th:href="|@{/profile/friendProfile(memberId=${mainBoard.memberId})}|">
                                <span class="d-inline-block mt-1 boardNickName">[[${mainBoard.nickName}]]</span>
                                <span class="boardMemberId">[[${mainBoard.memberId}]]</span>
                            </a>
                            <br>
                            <span>[[${#temporals.format(mainBoard.addDate, 'yyyy-MM-dd HH:mm')}]]</span><br>
                            <p class="likeHitCnt">
                                <span><i class="fa-solid fa-heart"></i>[[${mainBoard.like}]]</span>
                                <span><i class="fa-solid fa-comment"></i>[[${mainBoard.commentCnt}]]</span>
                                <span><i class="fa-solid fa-eye"></i>[[${mainBoard.hit}]]</span>
                            </p>
                        </div>
                        <p><a href="#" class="read-more">Continue Reading</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 게시글 상세 모달 -->
        <div id="mainViewModal" class="modal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" >
                    <div class="mainModal-img">
                        <img src="/images/hero_4.jpg" style="width: 300px; height: 400px;">
                    </div>
                    <div class="mainModal">
                        <div class="modal-header">
                            <h5 class="modal-title"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <span class="profile">
                                <img src="/images/person_4.jpg" style="height: 30px; width: 30px; border-radius: 50%">
                                <span class="modalProfile"> </span>
                                <span class="modalNickName"></span>
                                <span class="modalMemberId"></span>
                            </span>
                            <span class="modalTitle"></span>
                            <span class="modalContent"></span>
                        </div>
                        <div class="modal-footer">
                            <div class="pt-5 comment-wrap">
                                <h3 class="mb-5 heading commentCnt">0 Comments</h3>
                                <ul class="comment-list">
                                    <!-- 댓글 start -->
                                    <!-- 댓글 리스트 출력 -->
                                    <li class="comment comment-body">

                                    </li>
                                    <!-- /댓글 end -->
                                </ul>
                                <!-- END comment-list -->
                                <!-- 댓글 쓰기 창 -->
                                <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                                    <div class="comment-form-wrap pt-5">
                                        <h3 class="mb-5 write-comment">댓글 쓰기</h3>

                                    </div>
                                </th:block>
                            </div>
                            <!-- 댓글 페이징 -->
                            <div class="row mt-3">
                                <div class="col">
                                    <ul class="pagination commentPaging">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/mainBoard/list.js"></script>
        <script src="js/mainBoard/mainBoard.js"></script>
        <script src="/js/signup/upload.js"></script>
    </div>

<script layout:fragment="script" th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        // 탈퇴한 회원일경우
        let isDel;
        isDel = [[${isDel}]];
        console.log(isDel);

        if(isDel === true){
            alert('탈퇴한 계정입니다');
        }

        // 페이징 재료
        let pageResponse = [[${mainBoardList}]];
        let page = 1; // 페이지
        let size = 21; // 한번에 출력할 게시물 수
        let total = pageResponse.total; // 총 게시물 수
        let last = Math.ceil(total / size); // 마지막 페이지
        let type; // 검색 종류
        let keyword; // 검색어

        // 스크롤이벤트 적용
        window.addEventListener('scroll', function () {
            console.log('bodyHeight', document.body.offsetHeight);
            console.log('(window.innerHeight + window.scrollY)', window.innerHeight + window.scrollY);
            if ((document.body.offsetHeight * 0.9) <= (window.innerHeight + window.scrollY)) {
                // 현재 페이지의 쿼리스트링 가져오기
                var queryString = window.location.search;

                // 쿼리스트링 파싱
                var params = new URLSearchParams(queryString);

                // 특정 매개변수 값 가져오기
                var paramValue = params.get('paramName');

                console.log("쿼리스트링:", queryString);
                console.log("특정 매개변수 값:", paramValue);

                // 모든 매개변수 순회
                params.forEach(function(value, key) {
                    if (key === "type") {
                        type = value;
                    }
                    else if (key === "keyword") {
                        keyword = value;
                    }
                });

                 // 페이지 증가
                console.log("page++: ", page)
                console.log("end: ", last);
                page++; // 페이지 증가
                if (page <= last) {
                    getList();
                }
            }
        });

        // 게시글 목록 가져오기
        async function getList() {
            const url = `/main/getList?page=${page}&size=${size}&type=${type}&keyword=${keyword}`;
            try {
                const response = await axios.get(url);
                const mainBoardList = response.data.dtoList;
                pageResponse = response.data;
                console.log("mainBoardList : ", mainBoardList);
                console.log("pageResponse : ", pageResponse);
                console.log("page : " + pageResponse.page);

                // 게시물 목록
                const plusList = mainBoardList.map(mainBoard => `
                            <div class="col-lg-4 mb-4">
                                <div class="post-entry-alt">
                                    <a href="/main/view?mbNo=${mainBoard.mbNo}" class="img-link">
                                        <img src="/upload/mainBoardView/${mainBoard.boardDateString[0]}/${mainBoard.mainImg[0]}" alt="Image" class="img-fluid">
                                    </a>
                                    <div class="excerpt">
                                        <h2><a href="/main/view?mbNo=${mainBoard.mbNo}">${mainBoard.title}</a></h2>
                                        <p>${mainBoard.content}</p>
                                        <div class="post-meta align-items-center text-left clearfix">
                                            <figure class="author-figure mb-0 me-3 float-start"><img src="/upload/profileView/${mainBoard.dateString}/${mainBoard.profileImg}" alt="Image placeholder" class="img-fluid"></figure>
                                            <a href="/profile/friendProfile?memberId=${mainBoard.memberId}">
                                                <span class="d-inline-block mt-1 boardNickName">${mainBoard.nickName}</span>
                                                <span class="boardMemberId">${mainBoard.memberId}</span>
                                            </a>
                                            <br>
                                            <span>${mainBoard.addDate[0]+"-"+mainBoard.addDate[1]+"-"+mainBoard.addDate[2]+" "+mainBoard.addDate[3]+":"+mainBoard.addDate[4]}</span><br>
                                            <p class="likeHitCnt">
                                                <span><i class="fa-solid fa-heart"></i>${mainBoard.like}</span>
                                                <span><i class="fa-solid fa-comment"></i>${mainBoard.commentCnt}</span>
                                                <span><i class="fa-solid fa-eye"></i>${mainBoard.hit}</span>
                                            </p>
                                        </div>
                                        <p><button onclick="modalBtn(${mainBoard.mbNo})" class="read-more">Continue Reading</a></p>
                                    </div>
                                </div>
                            </div>
                        `).join('');


                document.getElementById('wrap').innerHTML += plusList;
            } catch(error) {
                console.error('에러발생 ' , error);
            }
        }
    });

    const auth = [[${#authentication.principal}]];
    //모달창 데이터 입력
const modal =new bootstrap.Modal(document.getElementById('mainViewModal'));
    const modalMemberId = document.querySelector('.modalMemberId');
    const modalNickName = document.querySelector('.modalNickName');
    const modalProfile = document.querySelector('.modalProfile');
    const modalTitle = document.querySelector('.modalTitle');
    const modalContent = document.querySelector('.modalContent');
    const writeComment = document.querySelector('.write-comment');

    function modalBtn(mbNo){
        console.log(mbNo);
        getBoard(mbNo).then(data =>{
            console.log(data);
            modalMemberId.textContent=data.memberId;
            modalNickName.textContent=data.nickName;
            modalProfile.textContent=data.profileImg;
            modalTitle.textContent=data.title;
            modalContent.textContent=data.content;

            const modalMainComment = `<form action="/mainComment/register" class="p-5 bg-light" method="post">
                <input type="hidden" name="mbNo" value="${data.mbNo}">
                    <input type="hidden" name="mno" id="mno" value="${auth.mno}" readOnly>
                        <input type="hidden" name="profileImg" class="form-control"
                               value="${auth.profileImg}/${auth.dateString}">
                            <div class="form-group">
                                <img id="profileImg"
                                     src="/upload/profileView/${auth.dateString}/s_${auth.profileImg}"
                                     style="width: 50px; height: 50px; border-radius: 50%;" alt="Image placeholder"
                                     class="img-fluid" readonly>
                                    <span class="boardNickName">${auth.nickName}</span>
                                    <input type="hidden" class="form-control" id="nickName"
                                           value="${auth.nickName}" readOnly>
                                        <span class="boardMemberId">${auth.memberId}</span>
                                        <input type="hidden" class="form-control" id="memberId"
                                               value="${auth.memberId}" readOnly>
                            </div>
                            <div class="form-group">
                                <label For="mainComment">Comment</label>\
                                <textarea type="text" class="form-control" id="mainComment"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary commentBtn">Post Comment</button>
                            </div>
            </form>`;
            writeComment.innerHTML = modalMainComment;

            //댓글 등록
            const commentBtn = document.querySelector('.commentBtn');
            const commentId = document.getElementById("memberId");
            const commentnickName = document.getElementById("nickName");
            const comment = document.getElementById("mainComment");
            const mno = document.getElementById("mno");
            const profileImg = document.querySelector('input[name=profileImg]');

            commentBtn.addEventListener('click',function(){
                const commentObj = {
                    mbNo: mbNo,
                    memberId: commentId.value,
                    nickName: commentnickName.value,
                    comment: comment.value,
                    mno: mno.value,
                    profileImg: profileImg.value
                };
                if(commentObj.comment !== '') {
                    addComment(commentObj).then(result => {
                        comment.value = '';
                        printComments(1, 10, true); // 댓글 목록 갱신
                    }).catch(e => {
                        alert("댓글 등록에 실패했습니다. 다시 시도해주세요");
                    });
                } else {
                    alert("댓글을 입력해주세요.");
                }
            });

    //댓글
    //출력 메서드
    function printComments(page, size, goLast) {
        getList({mbNo, page, size, goLast})
            .then(data => {
                printCommentCnt(data.total); //댓글 수 처리
                printList(data.dtoList); // 댓글 목록처리
                printPages(data); // 페이지 처리

            }).catch(e => console.error()
        );
    }
    printComments(1, 10); // 무조건 호출
    printComments(1, 10, true);

    const commentList = document.querySelector('.comment-body'); // 댓글 목록 DOM
    const commentPaging = document.querySelector('.commentPaging'); // 페이지 목록 DOM
    const commentCnt = document.querySelector('.commentCnt'); //댓글 수 DOM


    function printCommentCnt(total){
        commentCnt.textContent=total + " Comments";
    }

    function printList(dtoList) { // 댓글 목록 출력
        let str = '';
        if (dtoList && dtoList.length > 0) {
            for (const dto of dtoList) {
                if(dto.comNo == dto.parentNo){
                    str += `<div class="vcard">
                            <img id="profileImg" src="/upload/profileView/${dto.dateString}/${dto.profileImg}" alt="Image placeholder">
                        </div>
                        <div class="comment-view">
                            <span class="boardNickName">${dto.nickName}</span>
                            <span class="boardMemberId">${dto.memberId}</span>
                            <div class="meta">
                                ${dto.addDate[0]}-${dto.addDate[1]}-${dto.addDate[2]} ${dto.addDate[3]}:${dto.addDate[4]}
                            </div>
                            <p data-comNo="${dto.comNo}">${dto.comment}</p>`
                        + replyBtn(dto)
                        + xBtn(dto) +
                        `</div>
                        <div class="recommentWrap toggleOff">
                            <form class="form-group frmAddReComment" method="post">
                                <input type="hidden" name="mno" value="${auth.mno}">
                                <input type="hidden" name="nickName" value="${auth.nickName}">
                                <input type="hidden" name="memberId" value="${auth.memberId}">
                                <input type="hidden" name="mbNo" value="${mbNo}">
                                <input type="hidden" name="parentNo" value="${dto.comNo}">
                                <input type="hidden" name="profileImg" class="form-control" value="${auth.profileImg}/${auth.dateString}">
                                <div class="recomment_write">
                                    <div class="writerInfo">
                                        <img id="profileImg" class="img-fluid profileImg" src="/upload/profileView/${auth.dateString}/${auth.profileImg}" alt="Image placeholder" readonly>
                                        <span class="boardNickName">${auth.nickName}</span>
                                        <span class="boardNickName">(${auth.memberId})</span>
                                    </div>
                                    <textarea type="text" name="comment" class="form-control"></textarea>
                                    <button type="button" class="btn-primary recommentAddBtn" onclick="submitCommentRe(this)">등록</button>
                                </div>
                            </form>
                      </div>
                </div>`;
                } else {
                    str += `<ul class="recommentList">
                            <div class="writerInfo">
                            <img id="profileImg" class="img-fluid profileImg" src="/upload/profileView/${dto.dateString}/${dto.profileImg}" alt="Image placeholder"  class="img-fluid" readonly>
                                <span class="boardNickName">${dto.nickName}</span>
                                <span class="boardMemberId">(${dto.memberId})</span>
                            </div>
                                <div class="meta">${dto.addDate[0]}-${dto.addDate[1]}-${dto.addDate[2]} ${dto.addDate[3]}:${dto.addDate[4]}
                            </div>
                            <p data-comNo="${dto.comNo}">${dto.comment}</p>
                            ` +xBtn(dto)+ `
                        </ul>`
                }
            }
        }

        commentList.innerHTML = str;
        console.log("auth: ? " , auth);
        console.log(" auth는 ?",typeof auth);
        console.log("auth.mno? ", auth.mno);

        function replyBtn(dto){
            let btn = '';
            if(auth !== 'anonymousUser'){
                btn = `<button class="reply rounded recommentBtn">Reply</button>`;
            }
            return btn;
        }

        // 대댓글 입력 창
        let recommentBtns = document.querySelectorAll('.recommentBtn');
        let recommentWraps = document.querySelectorAll('.recommentWrap');

        for (let i=0; i< recommentBtns.length; i++){
            recommentBtns[i].addEventListener('click', function (){
                console.log("대댓글 창 열기");
                recommentWraps[i].classList.toggle('toggleOff');
            })
        }

        function xBtn(dto) {
            let btn = '';
            if (auth.mno === dto.mno) {
                btn = `<button type="button" class="btn btn-danger removeCommentBtn">Remove</button>`;
            }
            return btn;
        }

        //댓글 목록 출력 후 삭제 버튼
        const removeCommentBtns = document.querySelectorAll('.removeCommentBtn');
        removeCommentBtns.forEach(removeCommentBtn => {
            removeCommentBtn.addEventListener('click', function (e) {
                if(!(confirm("댓글을 삭제하시겠습니까?"))){
                    return;
                }
                const comNo = e.target.parentElement.querySelector('p[data-comNo]').getAttribute('data-comNo');
                if (!comNo) {
                    return;
                }
                console.log(comNo);
                removeComment(comNo, mbNo).then(result => {
                    page = 1; // 이 부분이 없다면 원래 페이지로
                    size = 10;
                    printComments(page, size);
                }).catch(e => console.log(e));
            });
        });


    }   // 댓글 목록 출력 끝

    // 대댓글 등록
    const submitCommentRe = function (btn) {
        let frmAddReComment = btn.closest('form');

        let reMno = frmAddReComment.mno.value;
        let reNickName = frmAddReComment.nickName.value;
        let reMemberId = frmAddReComment.memberId.value;
        let reMbNo = frmAddReComment.mbNo.value;
        let parentNo = frmAddReComment.parentNo.value;
        let reComment = frmAddReComment.comment.value;
        let profileImg = frmAddReComment.profileImg.value;

        let commentObj = {
            mbNo: reMbNo,
            memberId: reMemberId,
            nickName: reNickName,
            comment: reComment,
            mno: reMno,
            parentNo: parentNo,
            profileImg: profileImg
        };

        addComment(commentObj).then(result => {
            comment.value = '';
            printComments(1, 10, true); // 댓글 목록 갱신
        }).catch(e => {
            alert("댓글 등록에 실패했습니다. 다시 시도해주세요");
        });
    }

    function printPages(data) { // 페이지 목록 출력
        // pagination
        let pageStr = '';
        if (data.prev) {
            pageStr += `<li class="page-item">
                            <a class="page-link" data-page="${data.start - 1}">PREV</a>
                        </li>`;
        }
        for (let i = data.start; i <= data.end; i++) {
            pageStr += `<li class="page-item ${i === data.page ? "active" : ""}">
                            <a class="page-link" data-page="${i}">${i}</a>
                        </li>`;
        }
        if (data.next) {
            pageStr += `<li class="page-item">
                            <a class="page-link" data-page="${data.end + 1}">NEXT</a>
                        </li>`;
        }
        commentPaging.innerHTML = pageStr;

    }




    let page = 1;
    let size = 10;

    commentPaging.addEventListener('click', function (e) {
        e.preventDefault();
        e.stopPropagation();


        const target = e.target;

        if (!target || target.tagName != 'A') {
            return;
        }

        page = target.getAttribute('data-page');
        printComments(page, size);
    });
        });
        modal.show();
    }
    function closeModal() {
        modal.hide();
    }
</script>
</body>
</html>