<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" th:href="@{/css/mainBoard.css}">
    <link rel="stylesheet" th:href="@{/css/slick/slick.css}">
    <link rel="stylesheet" th:href="@{/css/slick/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/css/slick/slider.css}">
</head>
<style layout:fragment="style">
    *{
        color: black;
    }
    .searchDiv{
        gap: 10px;
    }
    .form-select{
        height: 54px;
        text-align: center;
    }
    .searchBtn{
        height: 54px;
        background-color: #ffcdd2 !important;
        border-color: #ffcdd2;
        color: white;
    }
    .searchBtn:hover {
        background-color: #f82767 !important;
        border-color: #f82767;
    }
    .writeBtn{
        width: 100px;
        background-color: #f48fb1 !important;
        border-color: #f48fb1;
    }
    .writeBtn:hover{
        background-color: #f82767 !important;
        border-color: #f82767;
    }
    .contentWrap{
        width: 440px;
        height: 500px;
    }
    .excerpt{
        height: 65px;
        overflow: hidden;
        position: relative;
    }
    .read-more{
        color: black !important;
        cursor: pointer;
        border-bottom: 2px solid #f48fb1;
    }

    .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .removeBtn {
        font-size: 13px;
        text-decoration-line: underline;
    }
    .recommentBtn {
        margin-left: 10px;
        font-size: 14px;
        text-decoration-line: underline;
        color: #9a9a9a;
    }
    .comment-content p, .recomment-content p {
        margin-bottom: 0;
        padding-left: 5px;

    }
</style>
<body>
    <div layout:fragment="content">
<!--        검색 창-->
        <form action="/main" method="get" name="frmSearch">
            <div class="col">
                <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                <div class="input-group searchDiv">
                    <div>
                        <select class="form-select" id="type" th:name="type">
                            <option value="">---</option>
                            <option value="title" >제목</option>
                            <option value="content">내용</option>
                            <option value="nickName" >닉네임</option>
                            <option value="memberId">아이디</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" id="keyword" name="keyword">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="d-flex mb-4 mt-4 justify-content-between">
            <div class="col-sm-6">
                <h2 class="posts-entry-title">Pink Jelly</h2>
            </div>
            <div>
                <a th:href="|@{/main/write}|" class="btn btn-primary writeBtn">글쓰기</a>
            </div>
        </div>

        <!-- 게시글 목록 -->
        <div class="row" id="wrap">
            <div class="col-lg-4 mb-4 contentWrap" th:each="mainBoard:${mainBoardList.dtoList}">
                <div class="post-entry-alt">
                    <a th:href="|@{/main/view(mbNo=${mainBoard.mbNo})}|" class="img-link text-center w-100">
                        <img th:src="|/upload/mainBoardView/${mainBoard.boardDateString[0]}/${mainBoard.mainImg[0]}|" alt="Image" width="400px" height="300px">
                    </a>
                    <div class="excerpt">
                        <a th:href="|@{/main/view(mbNo=${mainBoard.mbNo})}|"><h2>[[${mainBoard.title}]]</h2>
                            <p>[[${mainBoard.content}]]</p>
                        </a>
                    </div>
                    <div class="post-meta align-items-center text-left clearfix mt-3 mb-0">
                        <figure class="author-figure mb-0 me-3 float-start"><img th:src="|/upload/profileView/${mainBoard.dateString}/${mainBoard.profileImg}|" alt="Image placeholder" style="width: 30px; height: 30px;" class="img-fluid"></figure>
                        <a th:href="|@{/profile/friendProfile(memberId=${mainBoard.memberId})}|">
                            <span class="d-inline-block mt-1 boardNickName">[[${mainBoard.nickName}]]</span>
                            <span class="boardMemberId">([[${mainBoard.memberId}]])</span>
                        </a>
                        <br>
                        <span>[[${#temporals.format(mainBoard.addDate, 'yyyy-MM-dd HH:mm')}]]</span><br>
                        <p class="likeHitCnt">
                            <span><i class="fa-solid fa-heart"></i>[[${mainBoard.like}]]</span>
                            <span><i class="fa-solid fa-comment"></i>[[${mainBoard.commentCnt}]]</span>
                            <span><i class="fa-solid fa-eye"></i>[[${mainBoard.hit}]]</span>
                        </p>
                    </div>
                    <p><a class="read-more" th:onclick="modalBtn([[${mainBoard.mbNo}]])">상세보기</a></p>
                </div>
            </div>
        </div>

        <div class="modal fade" id="mainViewModal" tabindex="-1" role="dialog" aria-labelledby="horizontalModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="card-group">
                            <!-- 첫 번째 모달 -->
                            <div class="card">
                                <div class="card-body" style="padding: 0">
                                    <!-- 첫 번째 모달 내용 -->
                                    <div class="profile" style="padding: 10px;">
                                    </div>
                                    <div class="contents">
                                        <div class="imgWrap slick">

                                        </div>
                                        <div class="content" style="padding: 10px; height: 200px;">

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- 두 번째 모달 -->
                            <div class="card">
                                <div class="card-body">
                                    <!-- 두 번째 모달 내용 -->
                                    <h5 class="text-center">댓글</h5>
                                    <hr style="margin-bottom: 0;">

                                    <div class="comment-body" style="height: 500px; overflow-y: scroll">

                                    </div>
                                    <div class="comment-input">
                                        <input type="hidden" name="parentNo">
                                        <div style="display: flex">
                                            <input id="comment" type="text" name="comment" class="form-control" style="height: 40px;">
                                            <button type="button" id="submitBtn"
                                                    style="height: 40px; width: 60px; border-radius: 5px; border: 1px solid #ced4da">전송</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="/js/slick/slick.min.js"></script>
        <script src="/js/slick/slider.js"></script>
        <script src="/js/mainBoard/list.js"></script>
        <script src="js/mainBoard/mainBoard.js"></script>
        <script src="/js/signup/upload.js"></script>
    </div>

<script layout:fragment="script" th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        // 탈퇴한 회원일경우
        let isDel;
        isDel = [[${isDel}]];
        console.log(isDel);

        if(isDel === true){
            alert('탈퇴한 계정입니다');
        }

        // 페이징 재료
        let pageResponse = [[${mainBoardList}]];
        let page = 1; // 페이지
        let size = 21; // 한번에 출력할 게시물 수
        let total = pageResponse.total; // 총 게시물 수
        let last = Math.ceil(total / size); // 마지막 페이지
        let type; // 검색 종류
        let keyword; // 검색어

        // 스크롤이벤트 적용
        window.addEventListener('scroll', function () {
            console.log('bodyHeight', document.body.offsetHeight);
            console.log('(window.innerHeight + window.scrollY)', window.innerHeight + window.scrollY);
            if ((document.body.offsetHeight * 0.9) <= (window.innerHeight + window.scrollY)) {
                // 현재 페이지의 쿼리스트링 가져오기
                var queryString = window.location.search;

                // 쿼리스트링 파싱
                var params = new URLSearchParams(queryString);

                // 특정 매개변수 값 가져오기
                var paramValue = params.get('paramName');

                console.log("쿼리스트링:", queryString);
                console.log("특정 매개변수 값:", paramValue);

                // 모든 매개변수 순회
                params.forEach(function(value, key) {
                    if (key === "type") {
                        type = value;
                    }
                    else if (key === "keyword") {
                        keyword = value;
                    }
                });

                 // 페이지 증가
                console.log("page++: ", page)
                console.log("end: ", last);
                page++; // 페이지 증가
                if (page <= last) {
                    getList();
                }
            }
        });

        // 게시글 목록 가져오기
        async function getList() {
            const url = `/main/getList?page=${page}&size=${size}&type=${type}&keyword=${keyword}`;
            try {
                const response = await axios.get(url);
                const mainBoardList = response.data.dtoList;
                pageResponse = response.data;
                console.log("mainBoardList : ", mainBoardList);
                console.log("pageResponse : ", pageResponse);
                console.log("page : " + pageResponse.page);

                // 게시물 목록
                const plusList = mainBoardList.map(mainBoard => `
                            <div class="col-lg-4 mb-4 contentWrap">
                                <div class="post-entry-alt">
                                    <a href="/main/view?mbNo=${mainBoard.mbNo}" class="img-link text-center w-100">
                                        <img src="/upload/mainBoardView/${mainBoard.boardDateString[0]}/${mainBoard.mainImg[0]}" alt="Image" width="400px" height="300px">
                                    </a>
                                    <div class="excerpt">
                                        <a href="/main/view?mbNo=${mainBoard.mbNo}"><h2>${mainBoard.title}</h2>
                                            <p>${mainBoard.content}</p>
                                        </a>
                                    </div>
                                    <div class="post-meta align-items-center text-left clearfix mt-3 mb-0">
                                        <figure class="author-figure mb-0 me-3 float-start"><img src="/upload/profileView/${mainBoard.dateString}/${mainBoard.profileImg}" alt="Image placeholder" class="img-fluid"></figure>
                                        <a href="/profile/friendProfile?memberId=${mainBoard.memberId}">
                                            <span class="d-inline-block mt-1 boardNickName">${mainBoard.nickName}</span>
                                            <span class="boardMemberId">(${mainBoard.memberId})</span>
                                        </a>
                                        <br>
                                        <span>${mainBoard.addDate[0]+"-"+mainBoard.addDate[1]+"-"+mainBoard.addDate[2]+" "+mainBoard.addDate[3]+":"+mainBoard.addDate[4]}</span><br>
                                        <p class="likeHitCnt">
                                            <span><i class="fa-solid fa-heart"></i>${mainBoard.like}</span>
                                            <span><i class="fa-solid fa-comment"></i>${mainBoard.commentCnt}</span>
                                            <span><i class="fa-solid fa-eye"></i>${mainBoard.hit}</span>
                                        </p>
                                    </div>
                                        <p><a onclick="modalBtn(${mainBoard.mbNo})" class="read-more">상세보기</a></p>
                                    </div>
                                </div>
                            </div>
                        `).join('');


                document.getElementById('wrap').innerHTML += plusList;
            } catch(error) {
                console.error('에러발생 ' , error);
            }
        }
    });


    //모달창 데이터 입력
    const auth = [[${#authentication.principal}]]; // 사용자 정보
    const modal = new bootstrap.Modal(document.getElementById('mainViewModal'));
    const modalProfile = document.querySelector('.profile');
    const modalContent = document.querySelector('.content');
    const commentBody = document.querySelector('.comment-body');

    function modalBtn(mbNo){

        getBoard(mbNo).then(data =>{
            console.log(data);
            // 모달 프로필
            modalProfile.innerHTML =
                `<img src="/upload/profileView/${data.dateString}/${data.profileImg}" style="width: 35px; height: 35px; border-radius: 50%;">
                 <span>${data.nickName}(${data.memberId})</span>`;

            // slick 삭제
            $('.slick').slick('slickRemove', null, null, true);
            // 모달 게시글 이미지
            const mainImgs = data.mainImg; // 게시글 이미지
            const dateStrings = data.boardDateString; // 날짜
            let imgTag = '';
            for (let i = 0; i < mainImgs.length; i++) {
                imgTag += `<div class="boardImg" style="width: 100%; height: 350px;">
                               <img class="img-fluid round" src="/upload/mainBoardView/${dateStrings[i]}/${mainImgs[i]}" width="100%" height="350px">
                           </div>`;
            }
            document.querySelector('.imgWrap').innerHTML = imgTag;
            // slick 초기화
            $('.slick').slick('refresh');

            // 모달 제목 및 내용
            modalContent.innerHTML =
                `<h6>${data.title}</h6>
                 <p>${data.content}</p>`;

            const mbNo = data.mbNo; // 해당 게시글 번호
            let page = 1; // 페이지
            let size = 20; // 한번에 출력할 게시물 수
            let total; // 총 댓글 수
            let last; // 마지막 페이지

            //댓글
            //출력 메서드
            function printComments(page, size, reset) { // reset -> 댓글을 새로 가져올껀지, 덧붙일 껀지
                console.log('printComments');
                getCommentList({mbNo, page, size})
                    .then(data => {
                        total = data.total;// 총 댓글 수 저장
                        last = Math.ceil(total / 20.0);
                        printList(data.dtoList, reset); // 댓글 목록처리
                    }).catch(e => console.error());
            }
            printComments(1, 20, true); // 무조건 호출

            function printList(dtoList, reset) { // 댓글 목록 출력
                let str = '';
                if (dtoList.length > 0) {
                    for (const dto of dtoList) {
                        if(dto.comNo == dto.parentNo){
                            str += `<div style="margin-top: 10px;">
                                        <div style="display: flex; justify-content: space-between;">
                                        <div style="display: flex; align-items: center;">
                                            <img id="profileImg" src="/upload/profileView/${dto.dateString}/${dto.profileImg}" alt="Image placeholder">
                                            <span>${dto.nickName}</span>
                                            (<span class="ellipsis" style="width: ${dto.memberId.length >= 10 ? '100px' : ''};">${dto.memberId}</span>)
                                        </div>
                                        <div class="meta">
                                                ${dto.addDate[0]}-${dto.addDate[1]}-${dto.addDate[2]} ${dto.addDate[3]}:${dto.addDate[4]}
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        <p>
                                            ${dto.comment}
                                            ${(auth !== 'anonymousUser') && (auth.mno === dto.mno) ?
                                                `<span id="removeBtn_${dto.comNo}" class="removeBtn" style="cursor: pointer">삭제</span>` : ''}
                                        </p>
                                        <span id="recomment_${dto.comNo}" class="recommentBtn"
                                            data-id="${dto.memberId}" style="cursor: pointer">답글달기</span>
                                    </div>
                                    </div>`;
                        } else {
                            str += `<div style="padding-left: 20px; box-sizing: border-box;">
                                        <div style="display: flex; justify-content: space-between;">
                                            <div style="display: flex; align-items: center;">
                                                <img id="profileImg" src="/upload/profileView/${dto.dateString}/${dto.profileImg}" alt="Image placeholder">
                                                <span id="recomment_${dto.comNo}" data-id="${dto.memberId}">${dto.nickName}</span>
                                                (<span class="ellipsis" style="width: ${dto.memberId.length >= 10 ? '100px' : ''};">${dto.memberId}</span>)
                                            </div>
                                            <div class="meta">
                                                ${dto.addDate[0]}-${dto.addDate[1]}-${dto.addDate[2]} ${dto.addDate[3]}:${dto.addDate[4]}
                                            </div>
                                        </div>
                                        <div class="recomment-content">
                                            <p>
                                                ${dto.comment}
                                                ${(auth !== 'anonymousUser') && (auth.mno === dto.mno) ?
                                                    `<span id="removeBtn_${dto.comNo}" class="removeBtn" style="cursor: pointer">삭제</span>` : ''}
                                            </p>
                                        </div>
                                    </div>`
                        }
                    }
                }

                if (reset) { // 댓글 목록 초기화 하는 경우
                    commentBody.innerHTML = str;
                }
                else {
                    console.log('댓글 추가할꺼임');
                    commentBody.innerHTML += str;
                }


                // 답글달기 버튼 클릭 이벤트
                const comment = document.getElementById('comment'); // 댓글 입력창
                document.querySelectorAll('.recommentBtn').forEach(item => {
                    item.addEventListener('click', function (e) {
                        e.preventDefault();
                        e.stopPropagation();

                        const comNo = this.id.split('_')[1]; // 해당 댓글 번호
                        const memeberId = this.getAttribute('data-id'); // 해당 댓글 회원 아이디

                        document.querySelector('input[name=parentNo]').value = comNo;
                        comment.value = memeberId + '@ ';
                        comment.focus();
                    });
                });

                // 댓글 등록 버튼
                $("#submitBtn").off().on("click", function handleCommentSubmit(e) { // 클릭이벤트 중복방지
                    e.preventDefault();
                    e.stopPropagation();
                    if (auth === 'anonymousUser') { // 로그인을 하지 않은 경우
                        alert('댓글을 작성하시려면 로그인을 하세요.');

                        return;
                    }
                    console.log('몇번실행돼?');
                    page = 1;

                    let commentObj = { // 댓글 등록시 전달할 데이터
                        mbNo: mbNo,
                        memberId: auth.memberId,
                        nickName: auth.nickName,
                        comment: comment.value,
                        mno: auth.mno,
                        profileImg: auth.profileImg + "/" + auth.dateString
                    };

                    if (comment.value.includes('@')) { // 내용에 @가 존재하면 대댓글
                        let recomment = comment.value.split('@')[1]; // 대댓글 내용
                        commentObj.comment = recomment.trim();
                        commentObj.parentNo = document.querySelector('input[name=parentNo]').value;
                    }

                    if(commentObj.comment !== '') { // 댓글에 아무것도 입력하지 않은 경우
                        addComment(commentObj).then(result => {
                            comment.value = '';
                            printComments(page, 20, true); // 댓글 목록 갱신
                        }).catch(e => {
                            alert("댓글 등록에 실패했습니다. 다시 시도해주세요");
                        });
                    } else {
                        alert("댓글을 입력해주세요.");
                    }
                });

                //댓글 목록 출력 후 삭제 버튼
                document.querySelectorAll('.removeBtn').forEach(button => {
                    button.addEventListener('click', function () {
                        if(confirm("댓글을 삭제하시겠습니까?")){
                            const comNo = this.id.split('_')[1];
                            console.log(comNo);

                            removeComment(comNo, mbNo).then(result => {
                                page = 1; // 이 부분이 없다면 원래 페이지로
                                size = 20;
                                printComments(page, size, true);
                            }).catch(e => console.log(e));
                        }
                    });
                });
            }

            // 댓글 스크롤 이벤트 적용
            commentBody.addEventListener('scroll', function (e) {
                e.stopPropagation();

                console.log('scrollTop', commentBody.scrollTop);
                console.log('scrollHeight', commentBody.scrollHeight);
                console.log('clientHeight', commentBody.clientHeight);

                if ((commentBody.scrollHeight * 0.9) <= (commentBody.clientHeight + Math.ceil(commentBody.scrollTop))) {
                    console.log('paging');

                    // 페이지 증가
                    console.log("page++: ", page)
                    console.log("end: ", last);
                    page++; // 페이지 수 증가
                    if (page <= last) {
                        console.log('여긴 들어와?');
                        printComments(page, size, false);
                    }
                }
            });
        });

        modal.show();
    }
</script>
</body>
</html>