<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" th:href="@{/css/mainBoard.css}">
</head>
<style layout:fragment="style">
    .searchBtn:hover {
        background-color: #f48fb1;
    }
  #mainViewModal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
    /* 닫기 버튼 스타일 */
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
</style>
<body>
    <div layout:fragment="content">
<!--        검색 창-->
        <form action="/main" method="get" name="frmSearch">
            <div class="col">
                <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select class="form-select" id="type" th:name="type">
                            <option value="">---</option>
                            <option value="title" >제목</option>
                            <option value="content">내용</option>
                            <option value="nickName" >닉네임</option>
                            <option value="memberId">아이디</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" id="keyword" name="keyword">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="row mb-4">
            <div class="col-sm-6">
                <h2 class="posts-entry-title">Pink Jelly</h2>
            </div>
            <div class="col-sm-6 text-sm-end"><a href="category.html" class="read-more">View All</a></div>
            <a th:href="|@{/main/write}|" class="btn btn-primary">글쓰기</a>
        </div>

        <div class="row">
            <div class="col-lg-4 mb-4" th:each="mainBoard:${mainBoardList.dtoList}">
                <div class="post-entry-alt">
                    <a th:href="|@{/main/view(mbNo=${mainBoard.mbNo})}|" class="img-link">
                        <img th:src="|/upload/mainBoardView/${mainBoard.boardDateString[0]}/${mainBoard.mainImg[0]}|" alt="Image" class="img-fluid">
                    </a>
                    <div class="excerpt">
                        <h2><a th:href="|@{/main/view(mbNo=${mainBoard.mbNo})}|">[[${mainBoard.title}]]</a></h2>
                        <p>[[${mainBoard.content}]]</p>
                        <div class="post-meta align-items-center text-left clearfix">
                            <figure class="author-figure mb-0 me-3 float-start"><img th:src="|/upload/profileView/${mainBoard.dateString}/${mainBoard.profileImg}|" alt="Image placeholder" class="img-fluid"></figure>
                            <a th:href="|@{/profile/friendProfile(memberId=${mainBoard.memberId})}|">
                                <span class="d-inline-block mt-1 boardNickName">[[${mainBoard.nickName}]]</span>
                                <span class="boardMemberId">([[${mainBoard.memberId}]])</span>
                            </a>
                            <span>[[${#temporals.format(mainBoard.addDate, 'yyyy-MM-dd HH:mm')}]]</span><br>
                            <p class="likeHitCnt">
                                <span><i class="fa-solid fa-heart"></i>[[${mainBoard.like}]]</span>
                                <span><i class="fa-solid fa-comment"></i>[[${mainBoard.commentCnt}]]</span>
                                <span><i class="fa-solid fa-eye"></i>[[${mainBoard.hit}]]</span>
                            </p>
                        </div>
                        <p>
                            <button class="modalBtn" th:onclick="modalBtn([[${mainBoard.mbNo}]])">Continue Reading</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="mainViewModal" class="modal" tabindex="1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body row">
                        <div class="modal-img col-sm-8">
                            <span class="close btn btn-danger" onclick="closeModal()">&times;</span>
                            <img src="/images/hero_4.jpg" id="modal-main-img" width="100%">
                        </div>
                        <div class="modal-content col-sm-4">

                            <div class="modalProfile">
                                <img src="/images/person_3.jpg">
                            </div>
                            <p class="modalNickName">

                            </p>
                            <p class="modalMemberId">

                            </p>
                            <p class="modalTitle">

                            </p>
                            <div class="modalContent">

                            </div>
                            <a href="#">좋아요</a>
                            <a href="#">댓글달기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/mainBoard/list.js"></script>
        <script src="/js/signup/upload.js"></script>
    </div>
<script layout:fragment="script" th:inline="javascript">

    // 탈퇴한 회원일경우
    let isDel;
    isDel   =  [[${isDel}]];
    console.log(isDel);

    if(isDel === true){
        alert('탈퇴한 계정입니다');
    }


const modal =new bootstrap.Modal(document.getElementById('mainViewModal'));
    const modalMemberId = document.querySelector('.modalMemberId');
    const modalNickName = document.querySelector('.modalNickName');
    const modalProfile = document.querySelector('.modalProfile');
    const modalTitle = document.querySelector('.modalTitle');
    const modalContent = document.querySelector('.modalContent');

    function modalBtn(mbNo){
        console.log(mbNo);
        getBoard(mbNo).then(data =>{
            console.log(data);
            modalMemberId.textContent=data.memberId;
            modalNickName.textContent=data.nickName;
            modalProfile.textContent=data.profileImg;
            modalTitle.textContent=data.title;
            modalContent.textContent=data.content;

         })
        modal.show();
    }
    function closeModal() {
        modal.hide();
    }


</script>
</body>
</html>