<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>메인 글씨기</title>
</head>
<style layout:fragment="style">
    .container{
        color: black;
    }
    input{
        border-color: black;
    }
    .modBtn{
        background-color: #f48fb1 !important;
        border-color: #f48fb1 !important;
    }
    .modBtn:hover{
        background-color: #f87ea7 !important;
    }
    .card-body{
        margin: 0 auto;
    }
</style>
<body>
<div layout:fragment="content">
    <div class="container">
        <form name="modifyBoard" action="/main/modify" method="post" class="form" id="f1">
            <input type="hidden" name="mbNo" th:value="${mainBoard.mbNo}">
            <input type="hidden" name="profileImg" class="form-control" th:value="${#authentication.principal.profileImg}+'/'+${#authentication.principal.dateString}" readonly>
            <div class="form-group pb-3 d-flex justify-content-between">
                <h2>귀여운 아기 자랑 하세요 !</h2>
                <div class="text-end" th:with="member=${#authentication.principal}">
                    <img id="profileImg" th:src="|/upload/profileView/${#authentication.principal.dateString}/s_${#authentication.principal.profileImg}|" style="width: 50px; height: 50px; border-radius: 50%;" alt="Image placeholder"  class="img-fluid" readonly>
                    [[${#authentication.principal.nickName}]]
                    <input type="hidden" class="form-control" name="nickName" th:value="${#authentication.principal.nickName}" readonly>
                    [[|${#strings.substring(member.memberId, 0, #strings.length(member.memberId) / 2)}******|]]
                    <input type="hidden" class="form-control" name="memberId" th:value="${#authentication.principal.memberId}" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">title</label>
                <div class="col-sm-8">
                    <input type="text" name="title" class="form-control" th:value="${mainBoard.title}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label uploadHidden">Image</label>
                <div class="col-sm-3 thumbnail">
                    <input type="file" name="files" class="form-control" multiple onchange="setThumbnail(event);">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">
                        <th:block th:each="mainImg: ${mainBoard.mainImg}">
                            <div class="card col-2" >
                                <div class="card-header d-flex justify-content-center">
                                    <button class="btn-sm btn btn-danger"
                                            th:onclick="removeFile([[${mainBoard.boardDateString[0]}]],[[${mainImg}]], this)">X</button>
                                </div>
                                <div class="card-body">
                                    <img th:src="|/upload/mainBoardView/${mainBoard.boardDateString[0]+'/s_'+mainImg}|" th:data-src="${mainBoard.boardDateString[0]+'/'+mainImg}">
                                </div>
                            </div> <!-- card-->
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">content</label>
                <textarea name="content" rows="7" cols="50" maxlength="1000">[[${mainBoard.content}]]</textarea>
            </div>
            <div class="form-group row mt-3">
                <label class="col-sm-3 col-form-label">본인 고양이 이신가요?</label>
                <input type="checkbox" name="myCat" class="form-check-input" th:checked="${mainBoard.myCat=='on'}">
                <div class="col-sm-3">
                    <input type="text" name="variety" class="form-control" th:value="${mainBoard.variety}">
                </div>
            </div>
            <div class="btnWrap text-end">
                <button type="button" class="btn btn-primary modBtn">수정완료</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/mainBoard/mainBoard.js?q"></script>
    <script src="/js/signup/upload.js"></script>
</div>
<script layout:fragment="script" th:inline="javascript">
    //x버튼 이미지 삭제
        const removeFileList = []; //최종적으로 삭제될 파일들의 목록
    function removeFile(boardDateString, fileName, obj){
        if(!confirm('파일을 삭제하시겠습니까?')){
        }
        const file = boardDateString + "/"+fileName;
        removeFileList.push(file);
        const targetDiv = obj.closest('.card');
        targetDiv.remove();
    }
    // 업로드 버튼
    function setThumbnail(event){
        const formObj = new FormData();
        const fileInput = document.querySelector("input[name='files']");
        console.log(fileInput.files);
        const files = fileInput.files;
        for(let i = 0; i < files.length; i++) {
            formObj.append("files", files[i]);
        }
        uploadToServer('/upload/tempUpload', formObj).then(result =>{
            console.log(result);
            for(const uploadResult of result) {
                showUploadFile(uploadResult);
            }
        });
    }
    //업로드된 이미지 썸네일 출력
    const uploadResult = document.querySelector('.uploadResult');

    function showUploadFile({dateString, fileName, link}){
        const str = `<div class="card col-2">
        <div class="card-header d-flex justify-content-center">
          <button type="button" class="btn-sm btn btn-danger" onclick="javascript:removeFile('${dateString}','${fileName}', this)">X</button>
         </div>
         <div class="card-body">
          <img src="/upload/tempView/${dateString}/${link}" data-src="${dateString}/${fileName}">
         </div>
        </div><!--card-->`;

        uploadResult.innerHTML += str;
    }
    const link = [[${mainBoard.mbNo}]];
    const formObj = document.querySelector("form[name=modifyBoard]");
    const target = document.querySelector('.uploadHidden');
    document.querySelector('.modBtn').addEventListener('click', function(e){

       e.preventDefault();
       e.stopPropagation();

        //1.섬네일 영역에서 img 태그의 data-src 속성을 들고 옴.
        const uploadFiles = uploadResult.querySelectorAll('img');

        if(uploadFiles.length === 0) {
            alert("이미지를 선택하세요");
            return;
        }
        let str = '';
        for(let i = 0; i < uploadFiles.length; i ++) {
            const uploadFile = uploadFiles[i];
            const imgLink = uploadFile.getAttribute('data-src');
            console.log(imgLink);

            str += `<input type='hidden' name='mainImg' value="${imgLink}">`;
        }
        console.log(str);
        target.innerHTML = str;

        let removestr = '';
        removestr += `<input type="hidden" name='removeImg' value="${removeFileList}">`;

        target.innerHTML += removestr;
        formObj.submit();
    });
</script>
</body>
</html>