<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>메인 뷰페이지</title>
    <link rel="stylesheet" th:href="@{/css/mainBoard.css}">

</head>
<body>
<div layout:fragment="banner">
    <!-- 배너 start -->
    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/images/mainBoard/banner1.jpg');">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-6">
                    <div class="post-entry text-center">
                        <h1 class="mb-4">Loving Cats</h1>
                        <div class="post-meta align-items-center text-center">
                            <figure class="author-figure mb-0 me-3 d-inline-block"><img src="/images/person_3.jpg.jpg" alt="Image" class="img-fluid"></figure>
                            <a th:href="|@{/main/view(mbNo=${mainBoard.mbNo})}|">
                                <span class="d-inline-block mt-1 boardNickName">[[${mainBoard.nickName}]]</span>
                                <span class="boardMemberId">([[${mainBoard.memberId}]])</span>
                            </a>
                            <span>[[${#temporals.format(mainBoard.addDate, 'yyyy-MM-dd HH:mm')}]]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /배너 end -->
</div>


<div layout:fragment="content">
<!--좋아요 정보 -->
    <form name="frmLike" method="post">
        <input type="hidden" name="like" th:value="${mainBoard.flag}">
        <input type="hidden" name="mbNo" th:value="${mainBoard.mbNo}">
        <input type="hidden" name="mno" th:value="${11}">
        <div class="movielike">
            <p class="heart on">온</p>
            <p class="heart off">오프</p>
        </div>
    </form>

    <div class="post-content-body">
        <div class="row my-4 mainBoard-Img">
            <div class="col-md-12 mb-4">
                <img src="/images/mainBoard/basic1.jpg" alt="Image placeholder" class="img-fluid rounded">
            </div>
        </div>
    </div>
    <div class="row blog-entries element-animate">
        <!-- main-content start -->
        <div class="col-md-12 col-lg-8 main-content">
            <div class="post-content-body">
                <p>[[${mainBoard.content}]]</p>
            </div>
            <div class="pt-5">
                <p>Categories:  <a href="#">Food</a>, <a href="#">Travel</a>  Tags: <a href="#">#manila</a>, <a href="#">#asia</a></p>
            </div>
            <a th:href="|@{/main}|" class="btn btn-primary">목록</a>
            <a th:href="|@{/main/modify(mbNo=${mainBoard.mbNo})}|" class="btn btn-success">수정</a>
            <a th:href="|@{/main/remove(mbNo=${mainBoard.mbNo})}|" class="btn btn-danger">삭제</a>

                <!-- comment-wrap start -->
            <div class="pt-5 comment-wrap">
                <h3 class="mb-5 heading">6 Comments</h3>
                <ul class="comment-list">
                    <!-- 댓글 start -->
                    <li class="comment">
                        <div class="vcard">
                            <img src="/images/person_1.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                            <h3>Jean Doe</h3>
                            <div class="meta">January 9, 2018 at 2:21pm</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                            <p><a href="#" class="reply rounded">Reply</a></p>
                        </div>
                    </li>
                    <!-- /댓글 end -->

                    <!-- 댓글 start -->
                    <li class="comment">
                        <div class="vcard">
                            <img src="images/person_2.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                            <h3>Jean Doe</h3>
                            <div class="meta">January 9, 2018 at 2:21pm</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                            <p><a href="#" class="reply rounded">Reply</a></p>
                        </div>

                        <!-- 대댓글 start -->
                        <ul class="children">
                            <li class="comment">
                                <div class="vcard">
                                    <img src="images/person_3.jpg" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                    <h3>Jean Doe</h3>
                                    <div class="meta">January 9, 2018 at 2:21pm</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                    <p><a href="#" class="reply rounded">Reply</a></p>
                                </div>
                            </li>
                        </ul>
                        <!-- /대댓글 end -->
                    </li>
                    <!-- /댓글 end -->
                </ul>
                <!-- END comment-list -->

                <div class="comment-form-wrap pt-5">
                    <h3 class="mb-5">Leave a comment</h3>
                    <form action="#" class="p-5 bg-light">
                        <div class="form-group">
                            <label for="name">Name *</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="website">Website</label>
                            <input type="url" class="form-control" id="website">
                        </div>

                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Post Comment" class="btn btn-primary">
                        </div>

                    </form>
                </div>
            </div>

        </div>
        <!-- END main-content -->

        <!-- sidebar start -->
        <div class="col-md-12 col-lg-4 sidebar">
            <div class="sidebar-box mt-5">
                <h3 class="heading">Popular Posts</h3>
                <div class="post-entry-sidebar">
                    <ul>
                        <li>
                            <a href="">
                                <img src="images/img_1_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                <div class="text">
                                    <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                    <div class="post-meta">
                                        <span class="mr-2">March 15, 2018 </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/img_2_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                <div class="text">
                                    <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                    <div class="post-meta">
                                        <span class="mr-2">March 15, 2018 </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/img_3_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                <div class="text">
                                    <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                    <div class="post-meta">
                                        <span class="mr-2">March 15, 2018 </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END sidebar-box -->
        </div>
    </div>
</div>
<script layout:fragment="script">
<!-- 좋아요 버튼 -->
    const xhr = new XMLHttpRequest(); // ajax 작업을 위한 객체 생성
    const likeBtn = document.querySelector('.movielike');
    const likeCheck = document.querySelector('input[name=like]');
    const frmLike = document.querySelector('form[name=frmLike]');

    console.log("first : " + likeCheck.value);

    if(likeCheck.value === "true" || likeCheck.value === true){
        likeBtn.innerHTML = '<p class="heart on">온</p>';
    }
    else{
        likeBtn.innerHTML = '<p class="heart off">오프</p>'
    }

    likeBtn.addEventListener('click', function (){
        const mbNo = frmLike.mbNo.value;
        const mno = frmLike.mno.value;

        if (mno !== "") {
            const url = likeCheck.value === 'true' ? `/mainLike/remove?mbNo=${mbNo}&mno=${mno}` : `/mainLike/add?mbNo=${mbNo}&mno=${mno}`;

            xhr.open('POST', url);
            xhr.send();

            xhr.onreadystatechange = () => {
                if (xhr.readyState !== XMLHttpRequest.DONE)
                    return;

                console.log(xhr.response);

                if (xhr.status === 200) {
                    const json = JSON.parse(xhr.response);
                    if (json.result === true) {
                        // 성공적으로 처리된 경우 추가적인 동작 수행
                    } else {
                        alert('등록에 실패했습니다.');
                    }
                } else {
                    console.error(xhr.status, xhr.statusText);
                }
            };

            likeCheck.value = likeCheck.value === "true" ? "false" : "true";
            likeBtn.innerHTML = likeCheck.value === "true" ? '<p class="heart on">온</p>' : '<p class="heart off">오프</p>';
        } else {
            alert("로그인 후 이용 가능합니다.");
        }
    })
</script>
</body>
</html>