<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>메인 뷰페이지</title>
    <link rel="stylesheet" th:href="@{/css/boardView.css}">
    <script src="https://kit.fontawesome.com/e83b9315c8.js" crossorigin="anonymous"></script>

</head>
<style layout:fragment="style">
    *{
        color: black;
    }
    .fa-heart{
        color: red;
        font-size: 30pt;
    }
    .Board-Img{
        width: 100%;
        overflow: hidden;
    }
    .imgBox{
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .boardNickName{
        font-size: 12pt;
    }
    .main-content{
        width: 100%;
    }
    .backBtn{
        background-color: #555555 !important;
        border-color: #555555;
    }
    .backBtn:hover{
        background-color: #494949;
    }
    .modifyBtn{
        background-color: #ff5e90 !important;
        border-color: #ff5e90;
    }
    .modifyBtn:hover{
        background-color: #f82767 !important;
    }
    .boardNickName{
        font-size: 12pt;
    }
    .commentBtn{
        background-color: #ff5e90 !important;
        border-color: #ff5e90;
    }
    .commentBtn:hover{
        background-color: #f82767 !important;
    }
    .recommentBtn{
        width: 50px;
        height: 20px;
        margin-right: 5px;
        background-color: #ff5e90 !important;
        border-color: #ff5e90;
        display: flex;
        justify-content: center;
        align-items: center;
        writing-mode: horizontal-tb;
        white-space: nowrap;
    }
    .recommentBtn:hover{
        background-color: #f82767 !important;
    }
    .removeCommentBtn{
        width: 50px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        writing-mode: horizontal-tb;
        white-space: nowrap;
    }
    .toggleOff {
        display: none;
    }
    .recomment_write {
        display: flex;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
        gap: 10px;
    }
    .writerInfo p{
        background-color: #444444;
        color: white;
        margin: 0 auto;
    }
    .recommentAddBtn{
        width: 50px;
        height: 30px;
        background-color: #ff5e90 !important;
        border-color: #ff5e90;
        display: flex;
        justify-content: center;
        align-items: center;
        writing-mode: horizontal-tb;
        white-space: nowrap;
        margin-top: 30px;
    }
    .recommentAddBtn:hover{
        background-color: #f82767 !important;
    }
    .commentPaging{
        margin: 0;
    }
    .page-link{
        cursor: pointer;
        background-color: #ff5e90 !important;
        border-color: #ff5e90;
    }
    .comment_content{
        width: 90%;
    }
    .comment_content p{
        margin-top: 0.5rem;
    }
</style>
<div layout:fragment="banner">
    <!-- 배너 start -->
    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/images/mainBoard/메인배너.png'); height: 300px;">

    </div>
    <!-- /배너 end -->
</div>


<div layout:fragment="content">

    <div class="post-meta align-items-center d-flex justify-content-between">
        <div>
            <figure class="author-figure mb-0 me-3 d-inline-block">
                <img th:src="|/upload/profileView/${mainBoard.dateString}/${mainBoard.profileImg}|" alt="Image" class="img-fluid">
            </figure>
            <a th:href="|@{/profile/friendProfile(memberId=${mainBoard.memberId})}|">
                <span class="d-inline-block mt-1 boardNickName">[[${mainBoard.nickName}]]</span>
                <span class="boardMemberId">([[${mainBoard.memberId}]])</span>
            </a>
            <span>[[${#temporals.format(mainBoard.addDate, 'yyyy-MM-dd HH:mm')}]]</span>
        </div>
        <!--좋아요 정보 -->
        <form name="frmLike" method="post" th:if="${#authentication.principal != 'anonymousUser'}">
            <input type="hidden" name="like" th:value="${mainBoard.flag}">
            <input type="hidden" name="mbNo" th:value="${mainBoard.mbNo}">
            <input type="hidden" name="mno" th:value="${#authentication.principal.mno}">
            <div class="likeBtn">
            </div>
        </form>
    </div>

    <div class="post-content-body">
        <div class="Board-Img d-flex">
            <i class="fa-solid fa-circle-chevron-right fa-rotate-180"></i>
            <div class="imgBox" th:each="i : ${#numbers.sequence(0, mainBoard.boardDateString.size() - 1)}">
                <img class="round"
                     th:src="@{|/upload/mainBoardView/${mainBoard.boardDateString[i]}/${mainBoard.mainImg[i]}|}" alt="Image placeholder" height="500">
            </div>
            <i class="fa-solid fa-circle-chevron-right"></i>
        </div>
    </div>

    <div class="row blog-entries element-animate mt-lg-5">
        <!-- main-content start -->
        <div class="col-md-8 col-lg-8 main-content">
            <div class="post-content-body mb-3">
                <div>[[${mainBoard.content}]]</div>
            </div>
            <a th:href="|@{/main}|" class="btn btn-primary backBtn">목록</a>
            <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                <button th:if="${#authentication.principal.mno == mainBoard.mno}" class="btn btn-success modifyBtn">수정</button>
                <button th:if="${#authentication.principal.mno == mainBoard.mno}" class="btn btn-danger deleteBtn">삭제</button>
            </th:block>
        </div>
    </div>

            <!-- comment-wrap start -->
        <div class="pt-5 comment-wrap">
            <h3 class="mb-5 heading commentCnt">
                <span>[[${mainBoard.commentCnt}]]</span>
                Comments
            </h3>
            <ul class="comment-list">
                <!-- 댓글 start -->
                <!-- 댓글 리스트 출력 -->
                <li class="comment comment-body">

                </li>
                <!-- /댓글 end -->
            </ul>
            <!-- END comment-list -->
            <!-- 댓글 페이징 -->
            <div class="row mt-3">
                <div class="col">
                    <ul class="pagination commentPaging">

                    </ul>
                </div>
            </div>
        </div>

        <!-- 댓글 쓰기 창 -->
        <th:block th:if="${#authentication.principal != 'anonymousUser'}">
        <div class="comment-form-wrap pt-2">
            <h3 class="mb-3">댓글 쓰기</h3>
            <form action="/mainComment/register" class="p-4 bg-light" method="post">
                <input type="hidden" name="mbNo" th:value="${mainBoard.mbNo}">
                <input type="hidden" name="mno" id="mno" th:value="${#authentication.principal.mno}" readonly>
                <input type="hidden" name="profileImg" class="form-control" th:value="${#authentication.principal.profileImg}+'/'+${#authentication.principal.dateString}">
                <div class="form-group mb-3">
                    <img id="profileImg" th:src="|/upload/profileView/${#authentication.principal.dateString}/s_${#authentication.principal.profileImg}|" style="width: 50px; height: 50px; border-radius: 50%;" alt="Image placeholder"  class="img-fluid" readonly>
                    <span class="boardNickName">[[${#authentication.principal.nickName}]]</span>
                    <input type="hidden" class="form-control" id="nickName" th:value="${#authentication.principal.nickName}" readonly>
                    <span class="boardMemberId">[[${#authentication.principal.memberId}]]</span>
                    <input type="hidden" class="form-control" id="memberId" th:value="${#authentication.principal.memberId}" readonly>
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" id="mainComment"></textarea>
                </div>
                <div class="form-group text-end">
                    <button type="button" class="btn btn-primary commentBtn">등록</button>
                </div>
            </form>
        </div>
        </th:block>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/mainBoard/mainBoard.js"></script>
</div>
<script layout:fragment="script" th:inline="javascript">
    const mbNo = [[${mainBoard.mbNo}]]

    // 탈퇴한 회원일경우
    let isDel;
    isDel   =  [[${isDel}]];
    console.log(isDel);

    if(isDel === true){
        alert('탈퇴한 계정입니다');
    }

    const auth = [[${#authentication.principal}]];

    if (auth !== 'anonymousUser') {

        <!-- 좋아요 버튼 -->
        const xhr = new XMLHttpRequest(); // ajax 작업을 위한 객체 생성
        const likeBtn = document.querySelector('.likeBtn');
        const likeCheck = document.querySelector('input[name=like]');
        const frmLike = document.querySelector('form[name=frmLike]');

        console.log("first : " + likeCheck.value);

        if (likeCheck.value === "true" || likeCheck.value === true) {
            likeBtn.innerHTML = '<p class="heart on"><i class="fa-solid fa-heart"></i></p>';
        } else {
            likeBtn.innerHTML = '<p class="heart off"><i class="fa-regular fa-heart"></i></p>';
        }

        likeBtn.addEventListener('click', function () {
            const mbNo = frmLike.mbNo.value;
            const mno = frmLike.mno.value;

            if (mno !== "") {
                const url = likeCheck.value === 'true' ? `/mainLike/remove?mbNo=${mbNo}&mno=${mno}` : `/mainLike/add?mbNo=${mbNo}&mno=${mno}`;

                xhr.open('POST', url);
                xhr.send();

                xhr.onreadystatechange = () => {
                    if (xhr.readyState !== XMLHttpRequest.DONE)
                        return;

                    console.log(xhr.response);

                    if (xhr.status === 200) {
                        const json = JSON.parse(xhr.response);
                        if (json.result === true) {
                            // 성공적으로 처리된 경우 추가적인 동작 수행
                        } else {
                            alert('등록에 실패했습니다.');
                        }
                    } else {
                        console.error(xhr.status, xhr.statusText);
                    }
                };

                likeCheck.value = likeCheck.value === "true" ? "false" : "true";
                likeBtn.innerHTML = likeCheck.value === "true" ? '<p class="heart on"><i class="fa-solid fa-heart"></i></p>' : '<p class="heart off"><i class="fa-regular fa-heart"></i></p>';
            } else {
                alert("로그인 후 이용 가능합니다.");
            }
        });

    }

    if(auth.mno === [[${mainBoard.mno}]]){

        const modifyBtn = document.querySelector('.modifyBtn');
        const deleteBtn = document.querySelector('.deleteBtn');
        modifyBtn.addEventListener('click', function() {
            if(!confirm("게시글을 수정하시겠습니까?")){
                return;

            }
            window.location.href = "/main/modify?mbNo=" + mbNo;
        });
        deleteBtn.addEventListener('click', function() {
            if(!confirm("게시글을 삭제하시겠습니까?")) {
                return;

            }
            window.location.href = "/main/remove?mbNo=" + mbNo;
        });
    }

    //댓글
    //출력 메서드
function printComments(page, size, goLast) {
    getList({mbNo, page, size, goLast})
        .then(data => {
            printCommentCnt(data.total); //댓글 수 처리
            printList(data.dtoList); // 댓글 목록처리
            printPages(data); // 페이지 처리

        }).catch(e => console.error());
}
printComments(1, 10); // 무조건 호출
printComments(1, 10, true);

const commentList = document.querySelector('.comment-body'); // 댓글 목록 DOM
const commentPaging = document.querySelector('.commentPaging'); // 페이지 목록 DOM
const commentCnt = document.querySelector('.commentCnt'); //댓글 수 DOM


function printCommentCnt(total){
    commentCnt.textContent=total + " Comments";
}

function printList(dtoList) { // 댓글 목록 출력
    let str = '';
    let reStr = '';
    if (dtoList && dtoList.length > 0) {
        for (const dto of dtoList) {
            if(dto.comNo == dto.parentNo){
                str += `<div class="vcard">
                            <img id="profileImg" src="/upload/profileView/${dto.dateString}/${dto.profileImg}" alt="Image placeholder">
                        </div>
                        <div class="comment-view d-flex justify-content-between">
                            <div class="comment_content">
                                <span class="boardNickName">${dto.nickName}</span>
                                <span class="boardMemberId">${dto.memberId}</span>
                                <p data-comNo="${dto.comNo}">${dto.comment}</p>
                            </div>
                            <div class="comment_btn">
                                <div class="meta">
                                    ${dto.addDate[0]}-${dto.addDate[1]}-${dto.addDate[2]} ${dto.addDate[3]}:${dto.addDate[4]}
                                </div>
                                <div class="d-flex">`
                                    + replyBtn(dto)
                                    + xBtn(dto) +
                                `</div>
                            </div>
                        </div>
                        <hr>
                        <div class="recommentWrap toggleOff">
                            <form class="form-group frmAddReComment" method="post">
                                <input type="hidden" name="mno" value="${auth.mno}">
                                <input type="hidden" name="nickName" value="${auth.nickName}">
                                <input type="hidden" name="memberId" value="${auth.memberId}">
                                <input type="hidden" name="mbNo" value="${mbNo}">
                                <input type="hidden" name="parentNo" value="${dto.comNo}">
                                <input type="hidden" name="profileImg" class="form-control" value="${auth.profileImg}/${auth.dateString}">
                                <div class="recomment_write">
                                    <div class="writerInfo">
                                        <img id="profileImg" class="img-fluid profileImg" src="/upload/profileView/${auth.dateString}/${auth.profileImg}" alt="Image placeholder" readonly>
                                        <span class="boardNickName">${auth.nickName}</span>
                                        <span class="boardMemberId">(${auth.memberId})</span>
                                    </div>
                                    <textarea type="text" name="comment" class="form-control"></textarea>
                                    <button type="button" class="btn btn-secondary recommentAddBtn" onclick="submitCommentRe(this)">등록</button>
                                </div>
                            </form>
                      </div>
                </div>`;
            } else {
                str += `<ul class="comment-view d-flex justify-content-between">
                            <div class="comment_content">
                            <img id="profileImg" class="img-fluid profileImg" src="/upload/profileView/${dto.dateString}/${dto.profileImg}" alt="Image placeholder"  class="img-fluid" readonly>
                                <span class="boardNickName">${dto.nickName}</span>
                                <span class="boardMemberId">(${dto.memberId})</span>
                                <p data-comNo="${dto.comNo}">${dto.comment}</p>
                            </div>
                            <div class="comment_btn">
                                <div class="meta">
                                    ${dto.addDate[0]}-${dto.addDate[1]}-${dto.addDate[2]} ${dto.addDate[3]}:${dto.addDate[4]}
                                </div>
                                <div class="d-flex">
                                  ` +xBtn(dto)+ `
                                </div>
                            </div>
                        </ul>`
            }
        }
    }

    commentList.innerHTML = str;
    console.log("auth: ? " , auth);
    console.log(" auth는 ?",typeof auth);
    console.log("auth.mno? ", auth.mno);

    function replyBtn(dto){
        let btn = '';
        if(auth !== 'anonymousUser'){
           btn = `<button class="btn btn-secondary recommentBtn">답글</button>`;
        }
        return btn;
    }

    function xBtn(dto) {
        let btn = '';
        if (auth.mno === dto.mno) {
            btn = `<button type="button" class="btn btn-danger removeCommentBtn">삭제</button>`;
        }
        return btn;
    }

    //댓글 목록 출력 후 삭제 버튼
    const removeCommentBtns = document.querySelectorAll('.removeCommentBtn');
    removeCommentBtns.forEach(removeCommentBtn => {
        removeCommentBtn.addEventListener('click', function (e) {
            const comNo = e.target.closest('.comment-view').querySelector('.comment_content p').getAttribute('data-comNo');
            if (!comNo) {
                return;
            }
            console.log(comNo);
            removeComment(comNo, mbNo).then(result => {
                page = 1; // 이 부분이 없다면 원래 페이지로
                size = 10;
                printComments(page, size);
            }).catch(e => console.log(e));
        });
    });


    // 대댓글 입력 창
    let recommentBtns = document.querySelectorAll('.recommentBtn');
    let recommentWraps = document.querySelectorAll('.recommentWrap');

    for (let i=0; i< recommentBtns.length; i++){
        recommentBtns[i].addEventListener('click', function (){
            console.log("대댓글 창 열기");
            recommentWraps[i].classList.toggle('toggleOff')
        })
    }

}   // 댓글 목록 출력 끝

    // 대댓글 등록
    const submitCommentRe = function (btn) {
        let frmAddReComment = btn.closest('form');

        let reMno = frmAddReComment.mno.value;
        let reNickName = frmAddReComment.nickName.value;
        let reMemberId = frmAddReComment.memberId.value;
        let reMbNo = frmAddReComment.mbNo.value;
        let parentNo = frmAddReComment.parentNo.value;
        let reComment = frmAddReComment.comment.value;
        let profileImg = frmAddReComment.profileImg.value;

            let commentObj = {
                mbNo: reMbNo,
                memberId: reMemberId,
                nickName: reNickName,
                comment: reComment,
                mno: reMno,
                parentNo: parentNo,
                profileImg: profileImg
            };

            addComment(commentObj).then(result => {
                comment.value = '';
                printComments(1, 10, true); // 댓글 목록 갱신
            }).catch(e => {
                alert("댓글 등록에 실패했습니다. 다시 시도해주세요");
            });
    }

    function printPages(data) { // 페이지 목록 출력
        // pagination
        let pageStr = '';
        if (data.prev) {
            pageStr += `<li class="page-item">
                            <a class="page-link" data-page="${data.start - 1}">PREV</a>
                        </li>`;
        }
        for (let i = data.start; i <= data.end; i++) {
            pageStr += `<li class="page-item ${i === data.page ? "active" : ""}">
                            <a class="page-link" data-page="${i}">${i}</a>
                        </li>`;
        }
        if (data.next) {
            pageStr += `<li class="page-item">
                            <a class="page-link" data-page="${data.end + 1}">NEXT</a>
                        </li>`;
        }
        commentPaging.innerHTML = pageStr;

    }

    //댓글 등록
    const commentBtn = document.querySelector('.commentBtn');
    const commentId = document.getElementById("memberId");
    const commentnickName = document.getElementById("nickName");
    const comment = document.getElementById("mainComment");
    const mno = document.getElementById("mno");
    const profileImg = document.querySelector('input[name=profileImg]');

    if (auth !== 'anonymousUser') {
        commentBtn.addEventListener('click', function (e) {

            const commentObj = {
                mbNo: mbNo,
                memberId: commentId.value,
                nickName: commentnickName.value,
                comment: comment.value,
                mno: mno.value,
                profileImg: profileImg.value
            };
            if(commentObj.comment != '') {
                addComment(commentObj).then(result => {
                    comment.value = '';
                    printComments(1, 10, true); // 댓글 목록 갱신
                }).catch(e => {
                    alert("댓글 등록에 실패했습니다. 다시 시도해주세요");
                });
            } else {
                alert("댓글을 입력해주세요.");
            }
        });
    }


    let page = 1;
    let size = 10;

    commentPaging.addEventListener('click', function (e) {
        e.preventDefault();
        e.stopPropagation();


        const target = e.target;

        if (!target || target.tagName != 'A') {
            return;
        }

        page = target.getAttribute('data-page');
        printComments(page, size);
    });








</script>
</html>