<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>추모 뷰 페이지</title>
</head>
<style layout:fragment="style">
    i{
        color: #c4c405;
        font-size: 30pt;
    }
    .bannerWrap{
        width: 100%;
        height: 250px;
    }
    .banner{
        background-image: url("/images/EternalRest/memorial_noBg.png");
        background-repeat: no-repeat;
        background-color: black;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: 100% 100%;
    }
    .toggleOff {
        display: none;
    }
    .recomment_write {
        display: flex;
        width: 700px;
    }
    .writerInfo p{
        background-color: #444444;
        color: white;
        margin: 0 auto;
    }
    .profileImg {
        border-radius: 50%;
    }
</style>
<body>
<!-- 배너 시작 -->
<div layout:fragment="banner">
    <div class="bannerWrap">
        <div class="banner">
        </div>
    </div>
</div>
<!--배너 끝-->

<div layout:fragment="content">
    <!--슬퍼요 정보 -->
    <form name="frmSad" method="post" th:if="${#authentication.principal != 'anonymousUser'}">
        <input type="hidden" name="sad" th:value="${eternalRestBoard.flag}">
        <input type="hidden" name="erbNo" th:value="${eternalRestBoard.erbNo}">
        <input type="hidden" name="mno" th:value="${#authentication.principal.mno}">
        <div class="sadBtn">

        </div>
    </form>

    <!--    게시물 내용-->
    <div>
        <div class="post-content-body">
            <h1>[[${eternalRestBoard.title}]]</h1>
        </div>
        <div class="post-content-body">
            <p>[[${eternalRestBoard.nickName}]]</p><p>([[${eternalRestBoard.memberId}]])</p>
        </div>
        <div class="post-content-body">
           <img th:src="|/upload/profileView/${eternalRestBoard.profileImg}|" width="400" height="400">
        </div>
        <div class="post-content-body">
            <p>[[${eternalRestBoard.content}]]</p>
        </div>
    </div>
    <!--게시물 내용 끝-->
    <a th:href="|@{/eternalRest}|" class="btn btn-primary">목록</a>
    <th:block th:if="${#authentication.principal != 'anonymousUser' && #authentication.principal.mno == eternalRestBoard.mno}">
        <a th:href="|@{/eternalRest/remove(erbNo=${eternalRestBoard.erbNo})}|" class="btn btn-danger">삭제</a>
    </th:block>
    <div class="pt-5 comment-wrap">
        <h3 class="mb-5 heading commentCnt">[[${eternalRestBoard.commentCnt}]] Comments</h3>
        <ul class="comment-list">
            <!-- 댓글 start -->
            <!-- 댓글 리스트 출력 -->
            <li class="comment comment-view">

            </li>
            <!-- /댓글 end -->
        </ul>
        <!-- END comment-list -->
        <!-- 댓글 쓰기 창 -->
        <th:block th:if="${#authentication.principal != 'anonymousUser'}">
            <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">댓글 쓰기</h3>
                <form action="/erbComment/register" class="p-5 bg-light" method="post">
                    <input type="hidden" name="erbNo" th:value="${eternalRestBoard.erbNo}">
                    <input type="hidden" name="mno" id="mno" th:value="${#authentication.principal.mno}" readonly>
                    <input type="hidden" name="profileImg" class="form-control" th:value="${#authentication.principal.profileImg}+'/'+${#authentication.principal.dateString}">
                    <div class="form-group">
                        <label for="profileImg">profileImg</label>
                        <img id="profileImg" th:src="|/upload/profileView/${#authentication.principal.dateString}/${#authentication.principal.profileImg}|" alt="Image placeholder"  class="img-fluid" readonly>
                    </div>
                    <div class="form-group">
                        <label for="memberId">memberId</label>
                        <input type="text" class="form-control" id="memberId" th:value="${#authentication.principal.memberId}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="nickName">nickName</label>
                        <input type="text" class="form-control" id="nickName" th:value="${#authentication.principal.nickName}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="mainComment">Comment</label>
                        <input type="text" class="form-control" id="mainComment">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary commentBtn">Post Comment</button>
                    </div>
                </form>
            </div>
        </th:block>
    </div>
    <!-- 댓글 페이징 -->
    <div class="row mt-3">
        <div class="col">
            <ul class="pagination commentPaging">

            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/eternalRest/view.js?r"></script>
</div>
<script layout:fragment="script" th:inline="javascript">
    // 탈퇴한 회원일경우
    let isDel;
    isDel   =  [[${isDel}]];
    console.log(isDel);

    if(isDel === true){
        alert('탈퇴한 계정입니다');
    }

    const auth = [[${#authentication.principal}]];

    if (auth !== 'anonymousUser') {

        <!-- 슬퍼요 버튼 -->
        const xhr = new XMLHttpRequest(); // ajax 작업을 위한 객체 생성
        const sadBtn = document.querySelector('.sadBtn');
        const sadCheck = document.querySelector('input[name=sad]');
        const frmSad = document.querySelector('form[name=frmSad]');

        console.log("first : " + sadCheck.value);

        if (sadCheck.value === "true" || sadCheck.value === true) {
            sadBtn.innerHTML = '<p class="heart on"><i class="fa-solid fa-face-sad-tear"></i></p>';
        } else {
            sadBtn.innerHTML = '<p class="heart off"><i class="fa-regular fa-face-sad-tear"></i></p>'
        }

        sadBtn.addEventListener('click', function () {
            const erbNo = frmSad.erbNo.value;
            const mno = frmSad.mno.value;

            if (mno !== "") {
                const url = sadCheck.value === 'true' ? `/sad/remove?erbNo=${erbNo}&mno=${mno}` : `/sad/add?erbNo=${erbNo}&mno=${mno}`;

                xhr.open('POST', url);
                xhr.send();

                xhr.onreadystatechange = () => {
                    if (xhr.readyState !== XMLHttpRequest.DONE)
                        return;

                    console.log(xhr.response);

                    if (xhr.status === 200) {
                        const json = JSON.parse(xhr.response);
                        if (json.result === true) {
                            // 성공적으로 처리된 경우 추가적인 동작 수행
                        } else {
                            alert('등록에 실패했습니다.');
                        }
                    } else {
                        console.error(xhr.status, xhr.statusText);
                    }
                };

                sadCheck.value = sadCheck.value === "true" ? "false" : "true";
                sadBtn.innerHTML = sadCheck.value === "true" ? '<p class="heart on"><i class="fa-solid fa-face-sad-tear"></i></p>' : '<p class="heart off"><i class="fa-regular fa-face-sad-tear"></i></p>';
            } else {
                alert("로그인 후 이용 가능합니다.");
            }
        })
    }

    //댓글
    //출력 메서드
    const erbNo = [[${eternalRestBoard.erbNo}]]
    function printComments(page, size, goLast) {
        getList({erbNo, page, size, goLast})
            .then(data => {
                printCommentCnt(data.total); //댓글 수 처리
                printList(data.dtoList); // 목록처리
                printPages(data); // 페이지 처리
            })
            .catch(e => console.error());
    }
    printComments(1, 10); // 무조건 호출
    printComments(1, 10, true);

    const commentList = document.querySelector('.comment-view'); // 댓글 목록 DOM
    const commentPaging = document.querySelector('.commentPaging'); // 페이지 목록 DOM
    const commentCnt = document.querySelector('.commentCnt'); //댓글 수 DOM
    function printCommentCnt(total){
        commentCnt.textContent=total + " Comments";
    }

    function printList(dtoList) { // 댓글 목록 출력
        let str = '';
        if (dtoList && dtoList.length > 0) {
            for (const dto of dtoList) {
                if(dto.comNo == dto.parentNo){
                str += `<div class="vcard">
                        <img src="/upload/profileView/${dto.dateString}/${dto.profileImg}" alt="Image placeholder">
                    </div>
                    <div class="comment-view">
                    <h3>${dto.memberId}</h3>
                    <div class="meta">${dto.addDate[0]}-${dto.addDate[1]}-${dto.addDate[2]} ${dto.addDate[3]}:${dto.addDate[4]}</div>
                    <p data-comNo="${dto.comNo}">${dto.comment}</p>`
                    + replyBtn() +
                    + xBtn(dto) +
                    `</div>
                    <div class="recommentWrap toggleOff">
                        <form class="form-group frmAddReComment" method="post">
                            <input type="hidden" name="mno" value="${auth.mno}">
                            <input type="hidden" name="nickName" value="${auth.nickName}">
                            <input type="hidden" name="memberId" value="${auth.memberId}">
                            <input type="hidden" name="erbNo" value="${erbNo}">
                            <input type="hidden" name="parentNo" value="${dto.comNo}">
                            <input type="hidden" name="profileImg" class="form-control" value="${auth.profileImg}/${auth.dateString}">
                            <div class="recomment_write">
                                <div class="writerInfo">
                                <img class="img-fluid profileImg" src="/upload/profileView/${auth.dateString}/${auth.profileImg}" alt="Image placeholder" readonly>
                                    <p>${auth.nickName}</p>
                                    <p>(${auth.memberId})</p>
                                </div>
                                <textarea type="text" name="comment" class="form-control"></textarea>
                                <button type="button" class="btn-primary recommentAddBtn" onclick="submitCommentRe(this)">등록</button>
                            </div>
                        </form>
                      </div>
                     </div>`;
                } else{
                    str += `<ul class="recommentList">
                            <img class="img-fluid profileImg" src="/upload/profileView/${dto.dateString}/${dto.profileImg}" alt="Image placeholder"  class="img-fluid" readonly>
                            <h3>${dto.nickName}</h3>
                            <h3>(${dto.memberId})</h3>
                            <div class="meta">${dto.addDate[0]}-${dto.addDate[1]}-${dto.addDate[2]} ${dto.addDate[3]}:${dto.addDate[4]}</div>
                            <p data-comNo="${dto.comNo}">${dto.comment}</p>
                        `+xBtn(dto)+`</ul>`
                }
            }
        }
        commentList.innerHTML = str;

        function replyBtn(){
            let btn = '';
            if(auth !== 'anonymousUser' ){
                btn = `<button class="reply rounded recommentBtn">Reply</button>`;
            }
            return btn;
        }

        function xBtn(dto){
            let btn = '';
            if(auth.mno === dto.mno){
                btn = `<button type="button" class="btn btn-danger removeCommentBtn">Remove</button>`;
            }return btn;
        }

        //댓글 목록 출력 후 삭제 버튼
        const removeCommentBtns = document.querySelectorAll('.removeCommentBtn');
        removeCommentBtns.forEach(removeCommentBtn => {
            removeCommentBtn.addEventListener('click', function (e) {
                const comNo = e.target.parentElement.querySelector('p[data-comNo]').getAttribute('data-comNo');
                if (!comNo) {
                    return;
                }
                removeComment(comNo, erbNo).then(result => {
                    page = 1; // 이 부분이 없다면 원래 페이지로
                    size = 10;
                    printComments(page, size);
                }).catch(e => console.log(e));
            });
        });

        // 대댓글 입력 창
        let recommentBtns = document.querySelectorAll('.recommentBtn');
        let recommentWraps = document.querySelectorAll('.recommentWrap');

        for (let i=0; i<= recommentBtns.length; i++){
            recommentBtns[i].addEventListener('click', function (){
                recommentWraps[i].classList.toggle('toggleOff')
            })
        }
    } // 댓글 목록 출력 끝

    // 대댓글 등록
    const submitCommentRe = function (btn) {
        let frmAddReComment = btn.closest('form');

        let reMno = frmAddReComment.mno.value;
        let reNickName = frmAddReComment.nickName.value;
        let reMemberId = frmAddReComment.memberId.value;
        let reErbNo = frmAddReComment.erbNo.value;
        let parentNo = frmAddReComment.parentNo.value;
        let reComment = frmAddReComment.comment.value;
        let profileImg = frmAddReComment.profileImg.value;

        let commentObj = {
            erbNo: reErbNo,
            memberId: reMemberId,
            nickName: reNickName,
            comment: reComment,
            mno: reMno,
            parentNo: parentNo,
            profileImg: profileImg
        };

        addComment(commentObj).then(result => {
            comment.value = '';
            printComments(1, 10, true); // 댓글 목록 갱신
        }).catch(e => {
            alert("댓글 등록에 실패했습니다. 다시 시도해주세요");
        });

    }

    function printPages(data) { // 페이지 목록 출력
        // pagination
        let pageStr = '';
        if (data.prev) {
            pageStr += `<li class="page-item">
                        <a class="page-link" data-page="${data.start - 1}">PREV</a>
                    </li>`;
        }
        for (let i = data.start; i <= data.end; i++) {
            pageStr += `<li class="page-item ${i === data.page ? "active" : ""}">
                        <a class="page-link" data-page="${i}">${i}</a>
                    </li>`;
        }
        if (data.next) {
            pageStr += `<li class="page-item">
                        <a class="page-link" data-page="${data.end + 1}">NEXT</a>
                    </li>`;
        }
        console.log(pageStr);
        commentPaging.innerHTML = pageStr;
    }

    //댓글 등록
    const commentBtn = document.querySelector('.commentBtn');
    const commentId = document.getElementById("memberId");
    const commentnickName = document.getElementById("nickName");
    const comment = document.getElementById("mainComment");
    const mno = document.getElementById("mno");
    const profileImg = document.querySelector('input[name=profileImg]');
    if (auth !== 'anonymousUser') {
        commentBtn.addEventListener('click', function (e) {
            // console.log("왔다");
            const commentObj = {
                erbNo: erbNo,
                memberId: commentId.value,
                nickName: commentnickName.value,
                comment: comment.value,
                mno: mno.value,
                profileImg: profileImg.value
            };
            console.log(commentObj);
            addComment(commentObj).then(result => {
                comment.value = '';
                printComments(1, 10, true); // 댓글 목록 갱신
            }).catch(e => {
                alert("댓글 등록에 실패했습니다. 다시 시도해주세요");
            });
        });
    }
    let page = 1;
    let size = 10;

    commentPaging.addEventListener('click', function (e) {
        e.preventDefault();
        e.stopPropagation();


        const target = e.target;

        if (!target || target.tagName != 'A') {
            return;
        }

        page = target.getAttribute('data-page');
        printComments(page, size);
    });
</script>
</body>
</html>