<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/e83b9315c8.js" crossorigin="anonymous"></script>
    <title>내 프로필</title>
</head>

<style layout:fragment="style">
    .fa-ban{
        color: red;
        cursor: pointer;
    }
    *{
        margin: 0;
        padding: 0;

    }
    .info{
        background-color: #1a3542;
        width: 100%;
        height: 500px;
    }
    .board-content {
        width: 100%;
        background-color: #0dcaf0;
    }
    .inner-top{
        display: flex;
        justify-content: space-between;
    }
    .top-info {
        margin-top: 20px;
        display: flex;
        gap: 20px;
    }
    .profileImg {
        border-radius: 50%;
        background-color: white;
    }
    i {
        width: 50px;
        height: 50px;
        margin-top: 20px;
    }
    .fa-bars:before{
        content: "\f0c9";
        font-size: 25pt;
    }
    .inner-bottom {
        display: flex;
        flex-direction: column;
    }
    p {
        color: white;
    }
    .tab {
        display: flex;
        padding-top: 20px;
        gap: 50px;
    }
    li {
        list-style: none;
    }
    .boardList{
        display: flex;
        justify-content: space-evenly;
    }
    .boardImg {
        width: 200px;
        height: 200px;
    }
    .menu {
        width: 90px;
    }
    .menu-tap {
        display: none;
    }
    .menu-tap ul{
        padding-left: 0;
    }
    .menu-tap a {
        color: white;
    }
    .listBtn{
        cursor: pointer;
    }
</style>

<body>
<div layout:fragment="content">
<!--    그루밍 목록 -->
    <div class="modal grooming_wrap" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Grooming List ([[${#authentication.principal.gmingCnt}]])</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <ul class="modal-body" th:each="dto: ${gmingDTOList}">
                    <li>[[${dto.nickName}]]([[${dto.memberId}]])</li>
                </ul>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--    그루밍 목록 끝-->
    <!--    그루머 목록 -->
    <div class="modal groomer_wrap" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Groomer List ([[${#authentication.principal.gmerCnt}]])</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <ul class="modal-body" th:each="dto: ${gmerDTOList}">
                    <li>[[${dto.nickName}]]([[${dto.memberId}]])</li>
                </ul>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--    그루머 목록 끝-->
    <!--    차단 목록 -->
    <div class="modal ban_wrap" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ban List</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <ul class="modal-body d-flex align-items-center justify-content-between banList" th:each="dto: ${banDTOList}">
                    <li>[[${dto.nickName}]]([[${dto.memberId}]])</li>
                    <form name="frmBan" method="post">
                        <input type="hidden" name="memberId" th:value="${dto.memberId}">
                        <input type="hidden" name="nickName" th:value="${dto.nickName}">
                        <input type="hidden" name="mno" th:value="${#authentication.principal.mno}">
                        <div class="banBtn_wrap">
                            <i class="fa-solid fa-ban"></i>
                        </div>
                    </form>
                </ul>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--    그루머 목록 끝-->
<!--    내 정보-->
    <div class="info">
        <div class="info-inner">
            <div class="inner-top">
                <div class="top-info" th:with="member=${#authentication.principal}">
                    <img th:src="|/upload/profileView/${member.dateString}/${member.profileImg}|" alt="Image placeholder" class="profileImg" width="200px" height="200px">
                    <div class="inner-top-info">
                        <input type="hidden" name="mno" th:value="${#authentication.principal.mno}">
                        <p> 아이디 : <span th:text="${#authentication.principal.memberId}"></span></p>
                        <th:block th:if="${#authentication.principal.hasCat == 'true'}">
                            <p> 고양이 품종 : <span sec:authentication = "principal.variety"></span> </p>
                            <p> 고양이 나이 : <span sec:authentication = "principal.catAge"></span> </p>
                            <p> 고양이 성별 : <span sec:authentication = "principal.catSex"></span></p>
                        </th:block>
                    </div>
                </div>
                <!-- 메뉴 버튼-->
                <div class="menu">
                    <i class="fa-solid fa-bars menuBtn"></i>
                    <div class="menu-tap">
                        <ul>
                            <li><button class="groomingBtn">그루밍</button></li>
                            <li><button class="groomergBtn">그루머</button></li>
                            <li><a href="#">채팅목록</a></li>
                            <li><button class="banBtn">차단목록</button></li>
                            <li> <a th:href="@{/member/checkPW}">회원정보 수정</a></li>
                        </ul>
                    </div>
                </div>
<!--                메뉴버튼 끝-->
            </div>
            <a th:href="@{/profile/friendProfile(memberId=lsw6878)}" style="color: white;">17번 친구 프로필</a>
<!--            소개글-->
            <div class="inner-bottom">
                <div class="bottom-inner">
                    <p>소개</p>
                    <textarea cols="100" rows="10" name="introduce" th:text="${#authentication.principal.introduce}" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
<!--    내 정보 끝-->
<!--    내 게시물 목록-->
    <div class="board-content">
        <ul class="tab">
            <li class="tab-content">
                <p class="mainBtn listBtn">메인 게시물</p>
            </li>
            <li class="tab-content">
                <p class="catsMeBtn listBtn">입양소 게시물</p>
            </li>
            <li class="tab-content">
                <p class="reviewBtn listBtn">입양후기 게시물</p>
            </li>
        </ul>
        <!--  목록-->
        <div class="row mainBoardList">
            <div class="col-lg-3 mb-4"  th:each="mainBoard:${mainBoardList}">
                <div>
                    <a th:href="|@{/main/view(mbNo=${mainBoard.mbNo})}|" class="img-link">
                        <img src="/images/mainBoard/basic1.jpg" alt="Image" class="img-fluid" width="200">
                        <p>[[${mainBoard.title}]]</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row catsMeList">
            <div class="col-lg-3 mb-4" th:each="catsMeBoard:${catsMeBoardList}">
                <div>
                    <a th:href="|@{/catsMe/board/view(cmbNo=${catsMeBoard.cmbNo})}|" class="img-link">
                        <img src="/images/mainBoard/basic1.jpg" alt="Image" class="img-fluid" width="200">
                        <p>[[${catsMeBoard.title}]]</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row reviewList" >
            <div class="col-lg-3 mb-4" th:each="reviewBoard:${reviewBoardList}">
                <div>
                    <a th:href="|@{/catsMe/review/view(crbNo=${reviewBoard.crbNo})}|" class="img-link">
                        <img src="/images/mainBoard/basic1.jpg" alt="Image" class="img-fluid" width="200">
                        <p>[[${reviewBoard.title}]]</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
<!-- 내 게시물 목록 끝-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</div>
<script layout:fragment="script">
        // 메뉴 기능
        const menuBtn = document.querySelector('.menuBtn');
        const menuTap = document.querySelector('.menu-tap');
        let isMenuOpen = false;

        menuBtn.addEventListener('click', function (){
            if(isMenuOpen){
                menuTap.style.display = 'none';
                isMenuOpen = false;
            }else{
                menuTap.style.display = 'block';
                isMenuOpen = true;
            }
        });

        // 그루밍 목록
        const groomingBtn = document.querySelector('.groomingBtn'); // 그루밍목록버튼
        const groomingWrap = document.querySelector('.grooming_wrap');
        const groomingModal = new bootstrap.Modal(groomingWrap);

        groomingBtn.addEventListener('click', function (){
            groomingModal.show();
        })

        // 그루머 목록
        const groomerBtn = document.querySelector('.groomergBtn'); // 그루밍목록버튼
        const groomerWrap = document.querySelector('.groomer_wrap');
        const groomerModal = new bootstrap.Modal(groomerWrap);

        groomerBtn.addEventListener('click', function (){
            groomerModal.show();
        })

        // 차단기능
        const banBtn = document.querySelector('.banBtn'); // 차단목록 버튼
        const banWrap = document.querySelector('.ban_wrap');
        const banModal = new bootstrap.Modal(banWrap);

        banBtn.addEventListener('click', function (){
            banModal.show();
        })

        const noBans = document.querySelectorAll('.fa-ban'); // 차단목록에서 차단해제 버튼
        const banList = document.querySelector('.banList');
        const memberId = document.querySelector('input[name=memberId]').value;
        const nickName = document.querySelector('input[name=nickName]').value;
        const mno = document.querySelector('input[name=mno]').value;

        noBans.forEach(noBan => {
            noBan.addEventListener('click', async function () {
                if (confirm('차단해제 하시겠습니까 ? ')) {
                    if (mno !== "") {
                        let response;
                        try {
                            const banUrl = `/ban/remove?mno=${mno}&memberId=${memberId}`;
                            response = await axios.post(banUrl);

                            if (response.status === 200) {
                                const json = response.data;
                                if (json.result === true) {
                                    // 성공적으로 처리된 경우 추가적인 동작 수행
                                } else {
                                    alert('등록에 실패했습니다.');
                                }
                            } else {
                                console.error(response.status, response.statusText);
                            }
                        } catch (error) {
                            console.error('에러:', error);
                        }
                        banList.innerHTML = "";
                    }
                }
            })
        })
        // 게시물 목록 기능
        const mainBtn = document.querySelector('.mainBtn');
        const mainList = document.querySelector('.mainBoardList');
        const catsMeBtn = document.querySelector('.catsMeBtn');
        const catsMeList = document.querySelector('.catsMeList');
        const reviewBtn = document.querySelector('.reviewBtn');
        const reviewList = document.querySelector('.reviewList');

        catsMeList.style.display = 'none';
        reviewList.style.display = 'none';

        mainBtn.addEventListener('click', function (){
            mainList.style.display = 'flex';
            mainList.style.display = '-webkit-box';
            catsMeList.style.display = 'none';
            reviewList.style.display = 'none';
        })
        catsMeBtn.addEventListener('click', function (){
            mainList.style.display = 'none';
            catsMeList.style.display = 'flex';
            catsMeList.style.display = '-webkit-box';
            reviewList.style.display = 'none';
        })
        reviewBtn.addEventListener('click', function (){
            mainList.style.display = 'none';
            catsMeList.style.display = 'none';
            reviewList.style.display = 'flex';
            reviewList.style.display = '-webkit-box';
        })



</script>
</body>

</html>