<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>수정 전 비밀번호 확인</title>
</head>
<body>
<div class="menu">
    <a th:href="@{/member/memberInfo}">회원정보확인</a>
    <a th:href="@{/member/modifyMember}">회원정보수정</a>
    <a th:href="@{/member/modifyPasswd}">비밀번호 변경</a>
    <a th:href="@{/member/modifyMyCat}">고양이 정보 수정</a>
</div>
    <h1> 비밀번호를 입력해 주세요 </h1>
    <form th:action="@{/member/checkPW}" method="post">
        <input type="password" name="passwd">
        <button type="submit"> 확인 </button>
    </form>

<script th:inline="javascript">


</script>
</body>
</html>