<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <style layout:fragment="style">
        .hide {display: none;}
        .fail {color: #ff0000;}
        .is_invalid {border-color: #ff0000;}
        .success {color: #00ff00}
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .imgBox{
            text-align: center;
        }
        .info{
            width: 100%;
        }
        .info-inner{
            width: 80%;
            margin: 0 auto;
        }
        *{
            color: black;
        }
        #emailBtn{
            background-color: #ff80ab;
            border-color: #ff80ab;
        }
        #checkIdBtn{
            background-color: #ff80ab;
            border-color: #ff80ab;
        }
        .submitBtn{
            background-color: #ff80ab !important;
            border-color: #ff80ab;
        }
        .submitBtn:hover{
            background-color: #fd689b;
        }
        .btnWrap{
            text-align: center;
        }
        span {
            font-size: 13px;
        }
        .modal-content {
            height: 700px;
            overflow-y: scroll;
        }
    </style>
</head>
<body>
    <div layout:fragment="content">

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="imgBox">
                            <img src="/images/basic/PinkJelly_로고.png" width="450px" height="130px">
                        </div>
                        <div class="info">
                            <div class="col-lg-8 info-inner" data-aos="fade-up" data-aos-delay="200">
                                <form id="frmSignUp" th:action="@{/member/kakaoSignup}" th:object="${memberDTO}" method="post">
                                    <input type="hidden" name="social" value="true">
                                    <div class="row">
                                        <div class="col-12">
                                            <div th:if="${#authentication.principal != 'anonymousUser'}" th:with="member=${#authentication.principal}">
                                                <h6>아이디</h6>
                                                <p>[[${member.memberId}]]</p>
                                                <input id="memberId" type="hidden" class="form-control" name="memberId" th:value="${member.memberId}">
                                            </div>
                                        </div>

                                        <div class="col-6 mb-3">
                                            <input id="passwd" type="password" class="form-control" name="passwd"
                                                   th:classappend="${#fields.hasErrors('passwd')} ? 'is_invalid'" th:field="*{passwd}" placeholder="비밀번호" required>
                                            <span class="checkPW-message"
                                                  th:classappend="${#fields.hasErrors('passwd')} ? 'fail'">8글자 이상, 영문, 숫자, 특수문자(@$!%*#?&)</span>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <input id="password-retype" type="password" class="form-control" placeholder="비밀번호 확인" required>
                                            <input type="hidden" name="isPassMatch" value="false">
                                            <span class="mismatch-message hide fail"></span>
                                        </div>

                                        <div class="col-6 mb-3">
                                            <input id="memberName" type="text" name="memberName" class="form-control" placeholder="이름"
                                                   th:classappend="${#fields.hasErrors('memberName')} ? 'is_invalid'" th:field="*{memberName}" required/>
                                            <span class="fail" th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}"></span>
                                        </div>

                                        <div class="col-6 mb-3">
                                            <input id="nickName" type="text" name="nickName" class="form-control" minlength="2" maxlength="15" placeholder="닉네임"
                                                   th:classappend="${#fields.hasErrors('nickName')} ? 'is_invalid'" th:field="*{nickName}" required/>
                                            <span class="nickNameCheck-message"
                                                  th:classappend="${#fields.hasErrors('nickName')} ? 'fail'">2 ~ 15글자, 숫자, 영어, 한글</span>
                                        </div>

                                        <!-- 전화번호 -->
                                        <div class="col-4 mb-3">
                                            <select id="phoneSelect" class="form-select input-phone" style="height: 54px;">
                                                <option selected>010</option>
                                                <option>011</option>
                                                <option>016</option>
                                                <option>017</option>
                                                <option>019</option>
                                            </select>
                                        </div>
                                        <div class="col-4 mb-3">
                                            <input type="text" class="form-control input-phone" placeholder="1234" maxlength="4"
                                                   onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" required/>
                                        </div>
                                        <div class="col-4 mb-3">
                                            <input type="text" class="form-control input-phone" placeholder="5678" maxlength="4"
                                                   onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" required/>
                                            <input type="hidden" name="phone" th:field="*{phone}">
                                        </div>

                                        <div class="col-12">
                                            <div th:if="${#authentication.principal != 'anonymousUser'}" th:with="member=${#authentication.principal}">
                                                <h6>이메일</h6>
                                                <p>[[${member.email}]]</p>
                                                <input id="email" type="hidden" name="email" th:value="${#authentication.principal.email}" required>
                                            </div>
                                        </div>


                                        <div class="col-12 mb-3">
                                            <div class="row confirm hide">
                                                <div class="col-6 mb-3">
                                                    <input type="text" name="confirmKey" class="form-control" placeholder="인증번호">
                                                </div>
                                                <div class="col-6 mb-3">
                                                    <button id="confirmKeyBtn" type="button" class="btn btn-primary">확인</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 mb-3">
                                            <div class="form-check form-switch mb-3">
                                                <input class="form-check-input" type="checkbox" name="hasCat" value="false" role="switch" id="hasCat">
                                                <label class="form-check-label" for="hasCat">고양이를 키우고 계신가요?</label>
                                            </div>

                                            <div class="row catInfo hide">
                                                <div class="col-6 mb-3">
                                                    <input id="catAge" type="text" class="form-control" placeholder="고양이 나이">
                                                    <input type="hidden" name="catAge">
                                                </div>
                                                <div class="col-6 mb-3">
                                                    <div class="form-check-inline">
                                                        <input class="form-check-input" type="radio" name="ageRdo" id="month" value="개월">
                                                        <label class="form-check-label" for="month">개월</label>
                                                    </div>
                                                    <div class="form-check-inline">
                                                        <input class="form-check-input" type="radio" name="ageRdo" id="year" value="년">
                                                        <label class="form-check-label" for="year">년</label>
                                                    </div>
                                                </div>

                                                <div class="col-6 mb-3">
                                                    <input type="text" name="variety" class="form-control" placeholder="품종">
                                                </div>

                                                <div class="col-6 mb-3">
                                                    <select id="varietySelect" class="form-select" style="height: 54px;">
                                                        <option value="-1" selected>직접입력</option>
                                                        <option> 코리안 숏 헤어 </option>
                                                        <option> 노르웨이 숲 </option>
                                                        <option> 페르시안 </option>
                                                        <option> 샴 </option>
                                                    </select>
                                                </div>

                                                <div class="col-6 mb-3">
                                                    <label for="profileImg" class="form-label">프로필 이미지</label>
                                                    <input class="form-control" type="file" name="files" id="profileImg" style="height: 35px;">
                                                    <div class="uploadResult">
                                                        <div>
                                                            <img src="/upload/profileView/2002-08-08/default.png" alt="기본프로필" data-src="default.png/2002-08-08" style="width: 100px;">
                                                        </div>
                                                    </div>
                                                    <div class="uploadHidden"></div>
                                                </div>
                                                <div class="col-6 mb-3">
                                                    <div>성별</div>
                                                    <div class="form-check-inline">
                                                        <input class="form-check-input" type="radio" name="catSex" id="male" value="남아">
                                                        <label class="form-check-label" for="male">남아</label>
                                                    </div>
                                                    <div class="form-check-inline">
                                                        <input class="form-check-input" type="radio" name="catSex" id="female" value="여아">
                                                        <label class="form-check-label" for="female">여아</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 btnWrap">
                                            <button type="button" class="btn btn-primary submitBtn">회원가입</button>
                                            <button type="button" class="btn btn-secondary exitBtn" style="background: #444;" data-bs-dismiss="modal">취소</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/signup/validation.js"></script>
        <script src="/js/signup/upload.js"></script>
    </div>

    <script layout:fragment="script" th:inline="javascript">
        const preventGoBack = () => {
            // change start
            history.pushState(null, '', location.href);
            // change end
            alert('회원가입을 해야 이용할 수 있습니다.');
        };

        history.pushState(null, '', location.href);
        window.addEventListener('popstate', preventGoBack);


        const errors = [[${errors}]];
        console.log(errors);

        let errorMsg = '';

        if (errors) {
            for (const error of errors) {
                errorMsg += `${error.field}은(는) ${error.code} \n`;
            }
            alert(errorMsg);
        }

        // 회원가입 모달
        const kakaoSignup = document.getElementById('staticBackdrop');
        const modal = new bootstrap.Modal(kakaoSignup);
        // 첫 로딩시 모달 바로 보여줌
        modal.show();

        document.querySelector('.exitBtn').addEventListener('click', function () {
            // 취소버튼 클릭시 로그아웃
            if (confirm('회원가입을 취소 하시겠습니까?')) {
                self.location = '/logout';
            }
        });

        const inputPasswd = document.getElementById('passwd');
        const inputPasswdRetype = document.getElementById('password-retype');

        // 비밀번호 유효성 검사
        inputPasswd.addEventListener('keyup', function () {
            const passwd = inputPasswd.value;
            const checkPWMsg = document.querySelector('.checkPW-message');
            if (passwd.length !== 0) {
                if (!strongPassword(passwd)) {
                    checkPWMsg.classList.add('fail');
                }
                else{
                    checkPWMsg.classList.remove('fail');
                }
            }
            else {
                checkPWMsg.classList.remove('fail');
            }
        });

        // 비밀번호 확인
        const isPassMatch = document.querySelector('input[name=isPassMatch]'); // 비밀번호 일치여부를 담을 input
        inputPasswdRetype.addEventListener('keyup', function () {
            const passwdRetype = inputPasswdRetype.value;
            const misMatchMsg = document.querySelector('.mismatch-message');

            isPassMatch.value = 'false';

            if (passwdRetype.length !== 0) {
                misMatchMsg.classList.remove('hide');

                // 비밀번호가 일치하지 않는 경우
                if(!isMatch(inputPasswd.value, passwdRetype)) {
                    misMatchMsg.textContent = '비밀번호가 일치하지 않습니다';
                    misMatchMsg.classList.remove('success');
                }
                else { // 비밀번호가 일치할 경우
                    misMatchMsg.textContent = '비밀번호가 일치합니다';
                    misMatchMsg.classList.add('success');
                    isPassMatch.value = 'true';
                }
            }
            else {
                misMatchMsg.classList.add('hide');
            }
        });

        const phoneInputs = document.querySelectorAll('input.input-phone');
        const phoneHiddenInput = document.querySelector('input[name=phone]');
        let phoneOptValue = document.getElementById('phoneSelect').value;
        // 전화번호 앞자리 셀렉트 박스
        document.getElementById('phoneSelect').addEventListener('change', function (e) {
            phoneOptValue = e.target.value;
            phoneHiddenInput.value = `${phoneOptValue}-${phoneInputs[0].value}-${phoneInputs[1].value}`;
        });
        // 전화번호 중간 뒷자리
        phoneInputs.forEach(input => {
            input.addEventListener('change', function () {
                phoneHiddenInput.value = `${phoneOptValue}-${phoneInputs[0].value}-${phoneInputs[1].value}`;
            });
        });

        // 닉네임 확인
        document.querySelector('input[name=nickName]').addEventListener('keyup', function (e) {
            const nickName = e.target.value;
            const checkMsg = document.querySelector('.nickNameCheck-message');

            console.log(nickName);
            if (nickName.length !== 0) { // 닉네임 입력시
                console.log(onlyNumbersAndEnglishAndKorean(nickName));
                if (onlyNumbersAndEnglishAndKorean(nickName) && isLength(nickName, 2, 15)) { // 숫자, 영어, 한글, 2 ~ 15글자
                    checkMsg.classList.remove('fail');
                }
                else {
                    checkMsg.classList.add('fail');
                }
            }
            else { // 닉네임 입력x
                checkMsg.classList.remove('fail');
            }
        });

        // 고양이 보유 여부
        document.querySelector('input[name=hasCat]').addEventListener('change', function (e) {
            const catInfo = document.querySelector('.catInfo');
            console.log(e.target.checked);
            if (e.target.checked){ // 고양이를 키우고 있을 때
                catInfo.classList.remove('hide');
            }
            else { // 고양이를 키우고 있지 않을 때
                catInfo.classList.add('hide');
            }

            // switch value 업데이트 true, false
            e.target.value = e.target.checked;
        });

        // 고양이 나이 라디오 버튼
        document.querySelectorAll('input[name=ageRdo]').forEach(rdo => {
            rdo.addEventListener('change', function (e) {
                const catAge = document.getElementById('catAge').value;
                const hiddenInput = document.querySelector('input[name=catAge]');

                hiddenInput.value = '';
                hiddenInput.value = catAge + rdo.value;
            });
        });

        // 품종 셀렉트 박스
        document.getElementById('varietySelect').addEventListener('change', function (e) {
            const varietyInput = document.querySelector('input[name=variety]');

            if (e.target.value != "-1") {
                varietyInput.readOnly = true;
                varietyInput.value = e.target.value;
            }
            else {
                varietyInput.readOnly = false;
                varietyInput.value = '';
            }
        });

        // 프로필 이미지 임시 폴더에 업로드
        const fileInput = document.querySelector('input[name=files]');
        fileInput.addEventListener('change', function () {
            const formObj = new FormData();
            const files = fileInput.files;
            console.log(files);

            for (const file of files) {
                formObj.append('files', file);
            }

            uploadToServer('/upload/tempUpload', formObj).then(result => {
                console.log(result);
                for (const uploadResult of result) {
                    console.log("uploadResult");
                    console.log(uploadResult);
                    showUploadFile(uploadResult) // 업로드한 이미지를 보여준다
                }
                console.log(files);
            });
        });

        // 업로드된 이미지를 보여줌
        const uploadResult = document.querySelector('.uploadResult');

        function showUploadFile({dateString, fileName, link}) {
            const str = `<div>
                            <img src="/upload/tempView/${dateString}/${link}" data-src="${fileName}/${dateString}">
                         </div>`
            uploadResult.innerHTML = str;
        }

        // 회원가입 등록 처리
        document.querySelector('.submitBtn').addEventListener('click', function (e) {
            e.preventDefault();
            e.stopPropagation();

            if (isPassMatch.value === 'false') { // 비밀번호가 일치하지 않을 경우
                alert('비밀번호가 일치하지 않습니다.')
                return;
            }

            // 1. 썸네일 영역에서 img 태그의 data-src 속성을 들고 옴.
            const uploadFile = uploadResult.querySelector('img');
            let str = '';

            // 업로드한 이미지가 존재할 경우
            if (uploadFile != null) {
                const imgLink = uploadFile.getAttribute('data-src');
                console.log(imgLink);

                str = `<input type="hidden" name="profileImg" value="${imgLink}">`;

                // 2. 프로필 사진 첨부 영역에 태그 추가
                document.querySelector('.uploadHidden').innerHTML = str;
            }

            // 3. submit() 처리
            const frmSignUp = document.getElementById('frmSignUp');
            frmSignUp.submit();
        });
    </script>
</body>
</html>