<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
</head>
<body>
<div class="menu">
    <a th:href="@{/member/checkPW}">비밀번호 확인</a>
    <a th:href="@{/member/memberInfo}">회원정보확인</a>
    <a th:href="@{/member/modifyMember}">회원정보수정</a>
    <a th:href="@{/member/modifyPasswd}">비밀번호 변경</a>
    <a th:href="@{/member/modifyMyCat}">고양이 정보 수정</a>
</div>
    <h1> 비밀번호 변경 </h1>
    <form action="/member/modifyPasswd" method="post">
        <p>현재 비밀 번호 : </p> <input type="password" name="passwd">
        <p>새 비밀 번호 : </p> <input type="password" name="new_passwd">
        <p>새 비밀 번호 확인 : </p> <input type="password">
        <button type="submit" class="btn-secondary">수정 완료</button>
        <a href="/member/memberInfo"> 뒤로 가기 </a>
    </form>
</body>
</html>