<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style layout:fragment="style">

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    </style>
</head>
<body>

<div layout:fragment="content">

    <div class="menu">
        <a th:href="@{/member/modifyMemberInfo}">회원정보수정</a>
        <a th:href="@{/member/modifyPasswd}">비밀번호 변경</a>
        <a th:href="@{/member/modifyMyCat}">고양이 정보 수정</a>
    </div>

    <h1> 고양이 정보 수정</h1>

    <div class="row">
        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <form id="frmModMyCat" action="/member/modifyMyCat" method="post" th:with="member=${#authentication.principal}">
                <div class="row">

                    <input type="hidden" name="mno" th:value="${member.mno}">

                    <div class="col-12 mb-3">

                        <div class="row catInfo hide">
                            <div class="col-6 mb-3">
                                <input id="catAge" type="number" class="form-control">
                                <input type="hidden" name="catAge" th:value="${member.catAge}">
                            </div>
                            <div class="col-6 mb-3">
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="ageRdo" id="month" value="개월">
                                    <label class="form-check-label" for="month">개월</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="ageRdo" id="year" value="년">
                                    <label class="form-check-label" for="year">년</label>
                                </div>
                            </div>

                            <div class="col-6 mb-3">
                                <input type="text" name="variety" class="form-control" th:value="${member.variety}">
                            </div>

                            <div class="col-6 mb-3">
                                <select id="varietySelect" class="form-select" style="height: 54px;">
                                    <option value="-1" selected>직접입력</option>
                                    <option> 코리안 숏 헤어 </option>
                                    <option> 노르웨이 숲 </option>
                                    <option> 페르시안 </option>
                                    <option> 샴 </option>
                                </select>
                            </div>

                            <div class="col-6 mb-3">
                                <label for="profileImg" class="form-label">프로필 이미지</label>
                                <input class="form-control" type="file" name="files" id="profileImg" style="height: 35px;">
                                <div class="uploadResult">
                                    <div>
                                        <img th:src="|/upload/profileView/${member.dateString}/s_${member.profileImg}|" data-th-src="|${member.profileImg}/${member.dateString}|">
                                    </div>`
                                </div>
                                <div class="uploadHidden">
                                    <input type="hidden" name="profileImg" th:value="|${member.profileImg}/${member.dateString}|">
                                </div>
                            </div>
                            <div class="col-6 mb-3">
                                <div>성별</div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="catSex" id="male" value="남아" th:checked="${member.catSex == '남아'}">
                                    <label class="form-check-label" for="male">남아</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="catSex" id="female" value="여아" th:checked="${member.catSex == '여아'}">
                                    <label class="form-check-label" for="female">여아</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary modBtn">수정 완료</button>
                        <a th:href="@{/member/memberInfo}">
                            <button type="button" class="btn btn-secondary">뒤로가기</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/signup/upload.js"></script>
</div>

<script layout:fragment="script" th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const auth = [[${#authentication.principal}]]; // 로그인된 사용자 정보
        const authCatAge = auth.catAge; // 로그인된 사용자 고양이 나이
        const frmModMyCat = document.getElementById('frmModMyCat');

        const catAgeInput = document.getElementById('catAge');
        const hiddenInput = document.querySelector('input[name=catAge]');

        // 고양이 나이 라디오 버튼
        document.querySelectorAll('input[name=ageRdo]').forEach(rdo => {
            // 고양이 나이 숫자, 문자 나눠 담기 ex) 2개월 -> 2, 개월
            if (authCatAge.includes(rdo.value)) {
                rdo.checked = true;
                catAgeInput.value = authCatAge.split(rdo.value, 1);
                console.log("catAge: " + catAgeInput.value);
            }

            rdo.addEventListener('change', function () {
                hiddenInput.value = catAgeInput.value + rdo.value;
                console.log("hidden: " + hiddenInput.value);
            });
        });

        // 고양이 나이 입력 폼
        catAgeInput.addEventListener('keyup', function() {
            const checkedAgeRdo = frmModMyCat.querySelector('input[name=ageRdo]:checked');
            console.log(checkedAgeRdo);
            hiddenInput.value = catAgeInput.value + checkedAgeRdo.value;
            console.log("hidden: " + hiddenInput.value);
        });


        // 품종 셀렉트 박스
        document.getElementById('varietySelect').addEventListener('change', function (e) {
            const varietyInput = document.querySelector('input[name=variety]');

            if (e.target.value != "-1") {
                varietyInput.readOnly = true;
                varietyInput.value = e.target.value;
            }
            else {
                varietyInput.readOnly = false;
                varietyInput.value = '';
            }
        });

        // 프로필 이미지 임시 폴더에 업로드
        const fileInput = document.querySelector('input[name=files]');
        fileInput.addEventListener('change', function () {
            const formObj = new FormData();
            const files = fileInput.files;
            console.log(files);

            for (const file of files) {
                formObj.append('files', file);
            }

            uploadToServer('/upload/tempUpload', formObj).then(result => {
                console.log(result);
                for (const uploadResult of result) {
                    console.log("uploadResult");
                    console.log(uploadResult);
                    showUploadFile(uploadResult) // 업로드한 이미지를 보여준다
                }
                console.log(files);
            });
        });

        // 업로드된 이미지를 보여줌
        const uploadResult = document.querySelector('.uploadResult');

        function showUploadFile({dateString, fileName, link}) {
            const str = `<div>
                            <img src="/upload/tempView/${dateString}/${link}" data-src="${fileName}/${dateString}">
                         </div>`
            uploadResult.innerHTML = str;
        }

        // 고양이 정보 수정 처리
        document.querySelector('.modBtn').addEventListener('click', function (e) {
            e.preventDefault();
            e.stopPropagation();

            // 1. 썸네일 영역에서 img 태그의 data-src 속성을 들고 옴.
            const uploadFile = uploadResult.querySelector('img');

            // 업로드한 이미지가 존재할 경우
            if (uploadFile != null) {
                const imgLink = uploadFile.getAttribute('data-src');
                console.log(imgLink);

                // 2. 프로필 사진 첨부
                document.querySelector('input[name=profileImg]').value = imgLink;
            }

            // 3. submit() 처리
            const frmModMyCat = document.getElementById('frmModMyCat');
            frmModMyCat.submit();
        });
    });
</script>

</body>
</html>