<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <style>
        .hide {display: none;}
        .fail {color: #ff0000;}
        .mismatch-message {color: #ff0000;}
    </style>
</head>
<body>
<div class="menu">
    <a th:href="@{/member/modifyMember}">회원정보수정</a>
    <a th:href="@{/member/modifyPasswd}">비밀번호 변경</a>
    <a th:href="@{/member/modifyMyCat}">고양이 정보 수정</a>
</div>
    <h1> 비밀번호 변경 </h1>
    <form action="/member/modifyPasswd" method="post">
        <p>새 비밀 번호 : </p> <input id="newPasswd" type="password" name="newPasswd">
        <span class="strongPassword-message">8글자 이상, 영문, 숫자, 특수문자(@$!%*#?&)를 사용하세요</span>
        <p>새 비밀 번호 확인 : </p> <input id="password-retype" type="password">
        <span class="mismatch-message hide">비밀번호가 일치하지 않습니다</span>
        <button type="submit" class="btn-secondary">수정 완료</button>
        <a href="/member/memberInfo"> 뒤로 가기 </a>
    </form>

<script src="/js/signup/validation.js"></script>

    <script>
        const inputPasswd = document.getElementById('newPasswd');
        const inputPasswdRetype = document.getElementById('password-retype');
        // 비밀번호 유효성 검사
        inputPasswd.addEventListener('keyup', function () {
            const passwd = inputPasswd.value;
            const strongPasswdMsg = document.querySelector('.strongPassword-message');
            console.log("passwd: " + passwd);
            console.log(strongPasswdMsg);
            if (passwd.length !== 0) {
                if(strongPassword(passwd)) {
                    strongPasswdMsg.classList.remove('fail');
                }
                else {
                    strongPasswdMsg.classList.add('fail');
                }
            }
            else {
                strongPasswdMsg.classList.add('fail');
            }
        });

        // 비밀번호 확인
        inputPasswdRetype.addEventListener('keyup', function () {
            const misMatchMsg = document.querySelector('.mismatch-message');

            if (inputPasswdRetype.value.length !== 0) {
                if(isMatch(inputPasswd.value, inputPasswdRetype.value)) {
                    misMatchMsg.classList.add('hide'); // 실패 메시지가 가려져야 함
                }
                else {
                    misMatchMsg.classList.remove('hide'); // 실패 메시지가 보여야 함
                }
            }
            else {
                misMatchMsg.classList.add('hide'); // 실패 메시지가 가려져야 함
            }
        });
    </script>
</body>
</html>