<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>회원 수정</title>
    <style layout:fragment="style">
        .hide {display: none;}
        .fail {color: #ff0000;}
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</head>
<body>

<div layout:fragment="content">
    <div class="menu">
        <a th:href="@{/member/memberInfo}">회원정보확인</a>
        <a th:href="@{/member/modifyMemberInfo}">회원정보수정</a>
        <a th:href="@{/member/modifyPasswd}">비밀번호 변경</a>
        <a th:href="@{/member/modifyMyCat}">고양이 정보 수정</a>
    </div>

    <h1> 회원 정보 수정 </h1>

    <div class="row" th:with="member=${#authentication.principal}">
        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <form id="frmMod" th:action="@{/member/modifyMemberInfo}" method="post">
                <input type="hidden" name="mno" th:value="${member.mno}">
                <div class="row">
                    <div class="col-12 mb-3">
                        <h6>아이디</h6>
                        <p>[[${#authentication.principal.memberId}]]</p>
                    </div>

                    <!-- 전화번호 -->
                    <div class="col-12">
                        <div class="row">
                            <label class="form-label">전화번호</label>
                            <div class="col-4 mb-3">
                                <select id="phoneSelect" class="form-select input-phone" style="height: 54px;">
                                    <option th:selected="${phones[0] == '010'}">010</option>
                                    <option th:selected="${phones[0] == '011'}">011</option>
                                    <option th:selected="${phones[0] == '016'}">016</option>
                                    <option th:selected="${phones[0] == '017'}">017</option>
                                    <option th:selected="${phones[0] == '019'}">019</option>
                                </select>
                            </div>
                            <div class="col-4 mb-3">
                                <input type="number" class="form-control input-phone" maxlength="4" th:value="${phones[1]}" required>
                            </div>
                            <div class="col-4 mb-3">
                                <input type="text" class="form-control input-phone" maxlength="4" th:value="${phones[2]}" required>
                                <input id="phone" type="hidden" name="phone" th:value="${member.phone}">
                            </div>
                        </div>
                    </div>

                    <!-- 이메일 -->
                    <div class="col-12">
                        <div class="row">
                            <label class="form-label">이메일</label>
                            <div class="col-4 mb-3">
                                <input id="emailId" type="text" class="form-control" required>
                            </div>

                            <div class="col-4 mb-3">
                                <input id="domain" type="text" class="form-control" required>
                                <input type="hidden" name="email" th:value="${member.email}">
                            </div>

                            <div class="col-2 mb-3">
                                <select id="domainSelect" class="form-select" style="height: 54px;">
                                    <option value="-1" selected>직접입력</option>
                                    <option value="@naver.com">naver.com</option>
                                    <option value="@daum.net">daum.net</option>
                                    <option value="@gmail.com">gmail.com</option>
                                </select>
                            </div>

                            <div class="col-2 mb-3">
                                <button id="emailBtn" type="button" class="btn btn-primary" style="height: 54px;">인증하기</button>
                            </div>

                        </div>
                    </div>

                    <!-- 인증 코드 입력 -->
                    <div class="col-12">
                        <div class="row confirm hide">
                            <div class="col-6 mb-3">
                                <input type="text" name="confirmKey" class="form-control" placeholder="인증번호">
                            </div>
                            <div class="col-6 mb-3">
                                <button id="confirmKeyBtn" type="button" class="btn btn-primary">확인</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <label class="form-check-label">회원이름</label>
                            <div class="col-8 mb-3">
                                <input id="memberName" type="text" name="memberName" class="form-control" th:value="${member.memberName}"/>
                            </div>

                            <label class="form-check-label">닉네임</label>
                            <div class="col-8 mb-3">
                                <input id="nickName" type="text" name="nickName" class="form-control" minlength="2" maxlength="15" th:value="${member.nickName}" required/>
                                <span class="nickNameCheck-message">2 ~ 15글자, 숫자, 영어, 한글만 입력할 수 있습니다</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mb-3">
                        <div class="form-check form-switch mb-3">
                            <input class="form-check-input" type="checkbox" name="hasCat" th:value="${member.hasCat}" role="switch" id="hasCat" th:checked="${member.hasCat}">
                            <label class="form-check-label" for="hasCat">고양이를 키우고 계신가요?</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">수정완료</button>
                        <button id="infoBtn" type="button" class="btn btn-secondary">뒤로가기</button>
                        <button id="removeBtn" type="button" class="btn btn-danger">회원탈퇴</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/signup/validation.js"></script>
    <script src="/js/signup/upload.js"></script>
</div>

<script layout:fragment="script" th:inline="javascript">

    // 도메인 셀렉트박스
    const domainSelect = document.getElementById('domainSelect');
    const domainInput = document.getElementById('domain');
    domainSelect.addEventListener('change', function (e) {
        // 기타입력 아닐때
        if (e.target.value !== "-1") {
            domainInput.disabled = true;
            domainInput.value = e.target.value; // 셀렉트박스로 선택한 값 저장
        }
        else {
            domainInput.disabled = false;
            domainInput.value = "";
            domainInput.focus();
        }
    });

    // 이메일 인증번호 전송
    let currentTime = 0;
    const email = document.querySelector('input[name=email]'); // 이메일을 담을 input
    const confirmWrap = document.querySelector('.confirm'); // 인증코드 wrap
    document.getElementById('emailBtn').addEventListener('click', async function (e) {
        const emailBtn = e.target;
        const emailId = document.getElementById('emailId').value;
        const domain = domainInput.value;
        const mailTo = emailId + domain;

        let timerInterval; // setInterval id 값
        currentTime = 60 * 3; // 타이머 시간

        if (!isEmailValid(mailTo)) {
            alert("올바른 이메일 주소를 작성해주세요.");
        }
        else {
            const result = await sendConfirmMail(mailTo);
            if (result.toString() === "true") { // 이메일 전송 성공시
                // 인증하기 버튼 비활성화
                emailBtn.disabled = true;

                alert('인증번호가 전송되었습니다.');
                // 이메일 저장
                email.value = mailTo;
                confirmWrap.classList.remove('hide'); // 인증코드 입력폼 보여줌

                // 이메일 인증 타이머
                timerInterval = setInterval(function () {

                    if (currentTime <= 0) { // 남은 시간이 0초 일때
                        clearInterval(timerInterval);
                        removeConfirmKey(); // 세션에 저장된 인증코드 삭제
                        emailBtn.disabled = false; // 인증하기 버튼 활성화
                        emailBtn.textContent = '인증하기';

                        return;
                    }

                    const sec = currentTime % 60;
                    const min = Math.floor(currentTime / 60);
                    emailBtn.textContent = `${String(min).padStart(2, '0')}:${String(sec).padStart(2, '0')}`;
                    currentTime = currentTime - 1;
                }, 1000);
            }
            else {
                alert('인증번호 전송 실패');
            }
        }
    });

    // 이메일 인증번호 확인
    document.getElementById('confirmKeyBtn').addEventListener('click', async function () {
        const confirmKeyInput = document.querySelector('input[name=confirmKey]'); // 인증 코드 입력 input
        const result = await matchConfirmKey(confirmKeyInput.value);

        if (result === "true") {
            alert('인증이 완료되었습니다.');
            currentTime = 0; // 타이머 초기화
            confirmWrap.classList.add('hide');
        }
        else {
            alert('인증 실패');
            // 이메일 인증 실패시 초기화
            email.value = "";
        }
    });

    const phoneInputs = document.querySelectorAll('input.input-phone');
    const phoneHiddenInput = document.querySelector('input[name=phone]');
    let phoneOptValue = document.getElementById('phoneSelect').value;
    // 전화번호 앞자리 셀렉트 박스
    document.getElementById('phoneSelect').addEventListener('change', function (e) {
        phoneOptValue = e.target.value;
        phoneHiddenInput.value = `${phoneOptValue}-${phoneInputs[0].value}-${phoneInputs[1].value}`;
    });
    // 전화번호 중간 뒷자리
    phoneInputs.forEach(input => {
        input.addEventListener('change', function () {
            phoneHiddenInput.value = `${phoneOptValue}-${phoneInputs[0].value}-${phoneInputs[1].value}`;
        });
    });

    // 닉네임 확인
    document.querySelector('input[name=nickName]').addEventListener('keyup', function (e) {
        const nickName = e.target.value;
        const checkMsg = document.querySelector('.nickNameCheck-message');

        console.log(nickName);
        if (nickName.length != 0) { // 닉네임 입력시
            console.log(onlyNumbersAndEnglishAndKorean(nickName));
            if (onlyNumbersAndEnglishAndKorean(nickName) && isLength(nickName, 2, 15)) { // 숫자, 영어, 한글, 2 ~ 15글자
                checkMsg.classList.remove('fail');
            }
            else {
                checkMsg.classList.add('fail');
            }
        }
        else { // 닉네임 입력x
            checkMsg.classList.remove('fail');
        }
    });

    // 고양이 보유 여부
    document.querySelector('input[name=hasCat]').addEventListener('change', function (e) {
        const catInfo = document.querySelector('.catInfo');
        console.log(e.target.checked);
        if (e.target.checked){ // 고양이를 키우고 있을 때
            catInfo.classList.remove('hide');
        }
        else { // 고양이를 키우고 있지 않을 때
            catInfo.classList.add('hide');
        }

        // switch value 업데이트 true, false
        e.target.value = e.target.checked;
    });


    const frmMod = document.getElementById('frmMod');

    // 뒤로가기 버튼
    document.getElementById('infoBtn').addEventListener('click', function () {
        self.location = '/member/memberInfo';
    });

    // 회원탈퇴 버튼
    document.getElementById('removeBtn').addEventListener('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        frmMod.action = '/member/exit';
        frmMod.submit();
    });

</script>
</body>
</html>