<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>회원 수정</title>
    <style layout:fragment="style">
        .hide {display: none;}
        .fail {color: #ff0000;}
        .is_invalid {border-color: #ff0000;}
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        iframe{
            height: 100%;
        }
        .wrap{
            display: flex;
        }
        .menu{
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-right: 1px solid black;
            gap: 50px;
            position: relative;
        }
        .menu a:hover{
            border-bottom: 2px solid #ffcdd2;
        }
        .wrap_inner{
            width: 70%;
            margin-left: 40px;
        }
        .info{
            width: 100%;
        }
        .info-inner{
            width: 100%;
        }
        h1, h4{
            color: black;
        }
        label{
            color: black;
        }
        h1{
            text-align: center;
        }
        #emailBtn{
            background-color: #ff80ab;
            border-color: #ff80ab;
        }
        #removeBtn{
            position: absolute;
            bottom: 0;
        }
        #infoBtn{
            background-color: #555555;
        }
        #infoBtn:hover{
            background-color: #494949;
        }
        #modifyIntroduce{
            background-color: #ff99a3;
            border-color: #ff99a3;
        }
        #modifyIntroduce:hover{
            background-color: #ff80ab;
        }
        #submitBtn{
            background-color: #ff80ab;
            border-color: #ff80ab;
        }
        #submitBtn:hover{
            background-color: #fd689b;
        }
        .modal-title{
            color: black;
        }
        .registerBtn{
            background-color: #ff80ab !important;
            border-color: #ff80ab !important;
        }
        .registerBtn:hover{
            background-color: #fd689b !important;
        }
        .backBtn{
            background-color: #555555;
        }
        .backBtn:hover{
            background-color: #494949;
        }
    </style>
</head>
<body>

<div layout:fragment="content">
    <div class="wrap">
        <div class="menu">
            <a th:href="@{/member/memberInfo}">회원정보확인</a>
            <a th:href="@{/member/modifyMemberInfo}">회원정보수정</a>
            <a th:href="@{/member/modifyPasswd}">비밀번호 변경</a>
            <a th:href="@{/member/modifyMyCat}">고양이 정보 수정</a>
            <button id="removeBtn" type="button" class="btn btn-danger">회원탈퇴</button>
        </div>
        <div class="wrap_inner">
            <h1> 회원 정보 수정 </h1>

            <div class="info" th:with="member=${#authentication.principal}">
                <div class="info-inner" data-aos="fade-up" data-aos-delay="200">
                    <form id="frmMod" th:action="@{/member/modifyMemberInfo}" method="post">
                        <input type="hidden" name="mno" th:value="${member.mno}">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <h4>아이디</h4>
                                <p>[[${member.memberId}]]</p>
                            </div>

                            <!-- 전화번호 -->
                            <div class="col-12">
                                <div class="row">
                                    <label class="form-label">전화번호</label>
                                    <div class="col-4 mb-3">
                                        <select id="phoneSelect" class="form-select input-phone" style="height: 54px;">
                                            <option th:selected="${phones[0] == '010'}">010</option>
                                            <option th:selected="${phones[0] == '011'}">011</option>
                                            <option th:selected="${phones[0] == '016'}">016</option>
                                            <option th:selected="${phones[0] == '017'}">017</option>
                                            <option th:selected="${phones[0] == '019'}">019</option>
                                        </select>
                                    </div>
                                    <div class="col-4 mb-3">
                                        <input type="text" class="form-control input-phone" maxlength="4"
                                               onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" th:value="${phones[1]}" required/>
                                    </div>
                                    <div class="col-4 mb-3">
                                        <input type="text" class="form-control input-phone" maxlength="4"
                                               onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" th:value="${phones[2]}" required/>
                                        <input id="phone" type="hidden" name="phone" th:value="${member.phone}" required>
                                    </div>
                                </div>
                            </div>

                            <!-- 이메일 -->
                            <div class="col-12">
                                <div class="row">
                                    <label class="form-label">이메일</label>
                                    <div class="col-3 mb-3">
                                        <input id="emailId" type="text" class="form-control" required>
                                    </div>

                                    <div class="col-3 mb-3">
                                        <input id="domain" type="text" class="form-control" required>
                                        <input id="email" type="hidden" name="email" th:value="${member.email}" required>
                                    </div>

                                    <div class="col-2 mb-3">
                                        <select id="domainSelect" class="form-select" style="height: 54px;">
                                            <option value="-1" selected>직접입력</option>
                                            <option value="@naver.com">naver.com</option>
                                            <option value="@daum.net">daum.net</option>
                                            <option value="@gmail.com">gmail.com</option>
                                        </select>
                                    </div>

                                    <div class="col-2 mb-3">
                                        <button id="emailBtn" type="button" class="btn btn-primary" style="height: 54px;">인증하기</button>
                                    </div>

                                </div>
                            </div>

                            <!-- 인증 코드 입력 -->
                            <div class="col-12">
                                <div class="row confirm hide">
                                    <div class="col-6 mb-3">
                                        <input type="text" name="confirmKey" class="form-control" placeholder="인증번호">
                                        <input type="hidden" name="isConfirm" value="false">
                                    </div>
                                    <div class="col-6 mb-3">
                                        <button id="confirmKeyBtn" type="button" class="btn btn-primary">확인</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <label class="form-check-label">회원이름</label>
                                    <div class="col-8 mb-3">
                                        <input id="memberName" type="text" name="memberName" class="form-control" pattern="^[가-힣a-zA-Z]+$"
                                               th:value="${member.memberName}" required/>
                                        <span>영문, 한글만 입력할 수 있습니다.</span>
                                    </div>

                                    <label class="form-check-label">닉네임</label>
                                    <div class="col-8 mb-3">
                                        <input id="nickName" type="text" name="nickName" class="form-control" pattern="^[가-힣a-zA-Z0-9]+$"
                                               minlength="2" maxlength="15" th:value="${member.nickName}" required/>
                                        <span class="nickNameCheck-message">2 ~ 15글자, 숫자, 영어, 한글만 입력할 수 있습니다</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 mb-3">
                                <div class="form-check form-switch mb-3">
                                    <input class="form-check-input" type="checkbox" name="hasCat" role="switch" id="hasCat" th:value="${member.hasCat}" th:checked="${member.hasCat}">
                                    <label class="form-check-label" for="hasCat">고양이를 키우고 계신가요?</label>
                                </div>
                            </div>
                            <input type="hidden" name="introduce" th:value="${member.introduce}">
                            <div class="col-12">
                                <button type="button" id="modifyIntroduce" class="btn btn-secondary">소개글 수정</button>
                                <button type="submit" class="btn btn-primary" id="submitBtn">수정완료</button>
                                <button id="infoBtn" type="button" class="btn btn-secondary">뒤로가기</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- 소개글 수정 모달 -->
                <div class="modal introduceWrap" tabindex="-1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">소개글을 입력하세요</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <textarea id="content" name="introduce" rows="20" style="width: 100%;">[[${member.introduce}]]</textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary backBtn" data-bs-dismiss="modal">취소</button>
                                <button type="button" class="btn btn-primary registerBtn">저장</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="/smarteditor2/js/HuskyEZCreator.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/signup/validation.js"></script>
    <script src="/js/signup/upload.js"></script>
    <script src="/js/member/introduce.js"></script>
</div>

<script layout:fragment="script" th:inline="javascript">

    const msg = [[${msg}]];
    if (msg != null) {
        alert(msg);
    }

    // 도메인 셀렉트박스
    const domainSelect = document.getElementById('domainSelect');
    const domainInput = document.getElementById('domain');
    domainSelect.addEventListener('change', function (e) {
        // 기타입력 아닐때
        if (e.target.value !== "-1") {
            domainInput.disabled = true;
            domainInput.value = e.target.value; // 셀렉트박스로 선택한 값 저장
        }
        else {
            domainInput.disabled = false;
            domainInput.value = "";
            domainInput.focus();
        }
    });

    // 이메일 인증번호 전송
    let currentTime = 0;
    const email = document.querySelector('input[name=email]'); // 이메일을 담을 input
    const confirmWrap = document.querySelector('.confirm'); // 인증코드 wrap
    document.getElementById('emailBtn').addEventListener('click', async function (e) {
        e.preventDefault();
        e.stopPropagation();

        const emailBtn = e.target;
        const emailId = document.getElementById('emailId').value;
        const domain = domainInput.value;
        const mailTo = emailId + domain;

        let timerInterval; // setInterval id 값
        currentTime = 60 * 3; // 타이머 시간

        if (!isEmailValid(mailTo)) {
            alert("올바른 이메일 주소를 작성해주세요.");
        }
        else {
            const result = await sendConfirmMail(mailTo);
            if (result.toString() === "true") { // 이메일 전송 성공시
                // 인증하기 버튼 비활성화
                emailBtn.disabled = true;

                alert('인증번호가 전송되었습니다.');
                // 이메일 저장
                email.value = mailTo;
                confirmWrap.classList.remove('hide'); // 인증코드 입력폼 보여줌

                // 이메일 인증 타이머
                timerInterval = setInterval(function () {

                    if (currentTime <= 0) { // 남은 시간이 0초 일때
                        clearInterval(timerInterval);
                        removeConfirmKey(); // 세션에 저장된 인증코드 삭제
                        emailBtn.disabled = false; // 인증하기 버튼 활성화
                        emailBtn.textContent = '인증하기';

                        return;
                    }

                    const sec = currentTime % 60;
                    const min = Math.floor(currentTime / 60);
                    emailBtn.textContent = `${String(min).padStart(2, '0')}:${String(sec).padStart(2, '0')}`;
                    currentTime = currentTime - 1;
                }, 1000);
            }
            else {
                alert('인증번호 전송 실패');
            }
        }
    });

    // 이메일 인증번호 확인
    document.getElementById('confirmKeyBtn').addEventListener('click', async function (e) {
        e.preventDefault();
        e.stopPropagation();

        const confirmKeyInput = document.querySelector('input[name=confirmKey]'); // 인증 코드 입력 input
        const result = await matchConfirmKey(confirmKeyInput.value);

        if (result === "true") {
            alert('인증이 완료되었습니다.');
            currentTime = 0; // 타이머 초기화
            confirmWrap.classList.add('hide');
            document.querySelector('input[name=isConfirm]').value = "true";
        }
        else {
            alert('인증 실패');
            // 이메일 인증 실패시 초기화
            email.value = "";
        }
    });

    const phoneInputs = document.querySelectorAll('input.input-phone');
    const phoneHiddenInput = document.querySelector('input[name=phone]');
    let phoneOptValue = document.getElementById('phoneSelect').value;
    // 전화번호 앞자리 셀렉트 박스
    document.getElementById('phoneSelect').addEventListener('change', function (e) {
        phoneOptValue = e.target.value;
        phoneHiddenInput.value = `${phoneOptValue}-${phoneInputs[0].value}-${phoneInputs[1].value}`;
    });
    // 전화번호 중간 뒷자리
    phoneInputs.forEach(input => {
        input.addEventListener('change', function () {
            phoneHiddenInput.value = `${phoneOptValue}-${phoneInputs[0].value}-${phoneInputs[1].value}`;
        });
    });

    // 닉네임 확인
    document.getElementById('nickName').addEventListener('keyup', function (e) {
        const nickName = e.target.value;
        const checkMsg = document.querySelector('.nickNameCheck-message');

        console.log(nickName);
        if (nickName.length !== 0) { // 닉네임 입력시
            console.log(onlyNumbersAndEnglishAndKorean(nickName));
            if (onlyNumbersAndEnglishAndKorean(nickName) && isLength(nickName, 2, 15)) { // 숫자, 영어, 한글, 2 ~ 15글자
                checkMsg.classList.remove('fail');
            }
            else {
                checkMsg.classList.add('fail');
            }
        }
        else { // 닉네임 입력x
            checkMsg.classList.remove('fail');
        }
    });

    // 고양이 보유 여부
    document.querySelector('input[name=hasCat]').addEventListener('change', function (e) {
        const checkedHasCat = e.target.checked;

        // switch value 업데이트 true, false
        e.target.value = checkedHasCat;
        console.log(e.target.value);

    });


    // 소개글 수정 모달
    const modalBtn  = document.getElementById('modifyIntroduce');
    const modalWrap = document.querySelector('.introduceWrap');
    const modal = new bootstrap.Modal(modalWrap);
    const registerBtn = document.querySelector('.registerBtn');
    const auth = [[${#authentication.principal}]]
    modalBtn.addEventListener('click', function (){
        const iframe = document.getElementById('content_iframe');
        const srcUrl = iframe.getAttribute('src');
        iframe.setAttribute('src', srcUrl);
        modal.show();
    })
    // 소개글 에디터
    let oEditors = [];

    nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "content", // textarea 아이디 값
        sSkinURI: "/smarteditor2/SmartEditor2Skin.html",
        fCreator: "createSEditor2",
        htParams: {
            bUseVerticalResizer: false,
            bUseModeChanger: false,
        }
    });



    registerBtn.addEventListener('click', async function () {
        // 에디터에서 HTML 내용을 가져옵니다.
        oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []); // 에디터의 내용을 업데이트합니다.
        const introduce = document.getElementById("content").value; // textarea에 업데이트된 내용을 가져옵니다.
        const mno = document.querySelector('input[name=mno]').value;
        const memberId = auth.memberId;
        let hiddenIntroduce = document.querySelector('input[name=introduce]');
        hiddenIntroduce.value = introduce;

        const introduceObj = {
            memberId : memberId,
            introduce : introduce,
            mno : mno
        }
        if (confirm('저장하시겠습니까 ? ')) {
            await updateIntroduce(introduceObj);
            alert('저장되었습니다');
        }
    })



    const frmMod = document.getElementById('frmMod');

    // 뒤로가기 버튼
    document.getElementById('infoBtn').addEventListener('click', function () {
        self.location = '/member/memberInfo';
    });

    // 회원탈퇴 버튼
    document.getElementById('removeBtn').addEventListener('click', function (e) {
        e.preventDefault();
        e.stopPropagation();

        if (confirm('정말 탈퇴하시겠습니까?')) {
            frmMod.action = '/member/exit';
            frmMod.submit();
        }
    });

</script>
</body>
</html>