<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>CatsMe</title>
    <link rel="stylesheet" th:href="@{/css/mainBoard.css}">
</head>
<div layout:fragment="banner">
    <!-- 배너 start -->
    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/images/mainBoard/banner1.jpg');">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-6">
                    <div class="post-entry text-center">
                        <h1 class="mb-4">CatsMe</h1>
                        <div class="post-meta align-items-center text-center">
                            <figure class="author-figure mb-0 me-3 d-inline-block"><img src="/images/person_3.jpg.jpg" alt="Image" class="img-fluid"></figure>
                            <a th:href="|@{/catsMe/review/view(crbNo=${catsReviewBoard.crbNo})}|">
                                <span class="d-inline-block mt-1 boardNickName">[[${catsReviewBoard.nickName}]]</span>
                                <span class="boardMemberId">([[${catsReviewBoard.memberId}]])</span>
                            </a>
                            <span>[[${#temporals.format(catsReviewBoard.addDate, 'yyyy-MM-dd HH:mm')}]]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /배너 end -->
</div>

<div layout:fragment="content" th:with="crbDTO=${catsReviewBoard}">
    <!--좋아요 정보 -->
    <form name="frmLike" method="post">
        <input type="hidden" name="like" th:value="${crbDTO.flag}">
        <input type="hidden" name="crbNo" th:value="${crbDTO.crbNo}">
        <input type="hidden" name="mno" th:value="${15}">
        <div class="likeBtn">
            <p class="heart on">온</p>
            <p class="heart off">오프</p>
        </div>
    </form>
    <div class="post-content-body">
        <div class="row my-4 mainBoard-Img">
            <div class="col-md-12 mb-4">
                <img src="/images/mainBoard/basic5.jpg" alt="Image placeholder" class="img-fluid rounded">
            </div>
        </div>
    </div>
    <div class="row blog-entries element-animate">
        <!-- main-content start -->
        <div class="col-md-12 col-lg-8 main-content">
            <div class="post-content-body">
                <p>[[${catsReviewBoard.content}]]</p>
            </div>
            <div class="pt-5">
                <p>Categories:  <a href="#">Food</a>, <a href="#">Travel</a>  Tags: <a href="#">#manila</a>, <a href="#">#asia</a></p>
            </div>
            <a th:href="|@{/catsMe/review/list}|" class="btn btn-primary">목록</a>
            <a th:href="|@{/catsMe/review/modify(crbNo=${crbDTO.crbNo})}|" class="btn btn-success">수정</a>
            <a th:href="|@{/catsMe/review/remove(crbNo=${crbDTO.crbNo})}|" class="btn btn-danger">삭제</a>

            <!-- comment-wrap start -->
            <div class="pt-5 comment-wrap">
                <h3 class="mb-5 heading"> (댓글 수) Comments </h3>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <!--      댓글 목록-->
                        <ul class="list-group commentList">

                        </ul>
                    </div>
                    <!--    댓글 페이징-->
                    <div class="row mt-3">
                        <div class="col">
                            <ul class="pagination commentPaging">

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="comment-form-wrap pt-5">
                    <h3 class="mb-5">댓글 작성</h3>
                    <form action="/crbComment" class="p-5 bg-light" method="post" name="commentForm">
                        <input type="hidden" name="crbNo" class="crbNo" th:value="${crbDTO.crbNo}">
                        <input type="hidden" name="memberId" class="memberId" th:value="${lsw1123}">
                        <input type="hidden" name="nickName" class="nickName" th:value="${lsdff23}">
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea name="comment" id="message" cols="30" rows="10" class="form-control commentText"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" value="Post Comment" class="btn btn-primary addCommentBtn">댓글 등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END main-content -->

        <!-- sidebar start -->
        <div class="col-md-12 col-lg-4 sidebar">
            <div class="sidebar-box mt-5">
                <h3 class="heading">Popular Posts</h3>
                <div class="post-entry-sidebar">
                    <ul>
                        <li>
                            <a href="">
                                <img src="images/img_1_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                <div class="text">
                                    <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                    <div class="post-meta">
                                        <span class="mr-2">March 15, 2018 </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/img_2_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                <div class="text">
                                    <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                    <div class="post-meta">
                                        <span class="mr-2">March 15, 2018 </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/img_3_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                <div class="text">
                                    <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                    <div class="post-meta">
                                        <span class="mr-2">March 15, 2018 </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END sidebar-box -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</div>

<script layout:fragment="script" th:inline="javascript">

   const likeBtn = document.querySelector('.likeBtn');
   const likeCheck = document.querySelector('input[name=like]');
   const frmLike = document.querySelector('form[name=frmLike]');

   console.log("first : " + likeCheck.value);

   if (likeCheck.value === "true" || likeCheck.value === true) {
       likeBtn.innerHTML = '<p class="heart on">온</p>';
       console.log(likeCheck.value);
   } else {
       likeBtn.innerHTML = '<p class="heart off">오프</p>';
       console.log(likeCheck.value);
   }

   likeBtn.addEventListener('click', async function () {
       const crbNo = frmLike.crbNo.value;
       const mno = frmLike.mno.value;

       if (mno !== "") {
           const url = likeCheck.value === 'true' ? `/reviewLike/remove?crbNo=${crbNo}&mno=${mno}` : `/reviewLike/add?crbNo=${crbNo}&mno=${mno}`;

           try {
               const response = await axios.post(url);
               console.log(response.data);

               if (response.status === 200) {
                   const json = response.data;
                   if (json.result === true) {
                       // 성공적으로 처리된 경우 추가적인 동작 수행
                   } else {
                       alert('등록에 실패했습니다.');
                   }
               } else {
                   console.error(response.status, response.statusText);
               }
           } catch (error) {
               console.error('에러:', error);
           }

           likeCheck.value = likeCheck.value === "true" ? "false" : "true";
           likeBtn.innerHTML = likeCheck.value === "true" ? '<p class="heart on">온</p>' : '<p class="heart off">오프</p>';
       } else {
           alert("로그인 후 이용 가능합니다.");
       }
   });
   // 좋아요 끝 -----------



</script>
</html>