<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
    <h1> 로그인 </h1>
    <form action="/login" method="post">
        <label for="memberId">아이디</label>
        <input type="text" id="memberId" name="memberId">
        <label for="passwd">비밀번호</label>
        <input type="password" id="passwd" name="passwd">

        <button type="submit"> 로그인 </button>
    </form>
</div>

</html>