<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pink_jelly.mapper.CatsMeMapper">
    <insert id="insert">
        INSERT INTO catsMeBoard (memberId, nickName, profileImg, title, content, cmbImg, addDate, status, mno)
        VALUES (#{memberId}, #{nickName}, #{profileImg}, #{title}, #{content}, #{cmbImg}, now(), #{status}, #{mno})
    </insert>
    <select id="selectAll" resultType="com.example.pink_jelly.domain.CatsMeBoardVO">
        SELECT * FROM catsMeBoard ORDER BY cmbNo DESC
    </select>
    <select id="getCount" resultType="int">
        SELECT COUNT(cmbNo) FROM catsMeBoard
    </select>
    <select id="selectList" resultType="com.example.pink_jelly.domain.CatsMeBoardVO">
        SELECT * FROM CatsMeBoard ORDER BY cmbNo DESC LIMIT #{skip}, #{size}
    </select>
    <select id="getOne" resultType="com.example.pink_jelly.domain.CatsMeBoardVO">
        SELECT * FROM catsMeBoard WHERE cmbNo=#{cmbNo}
    </select>
    <update id="updateHit">
        UPDATE catsMeBoard SET hit=hit+1 WHERE cmbNo=#{cmbNo}
    </update>
    <update id="updateBoard">
        UPDATE catsMeBoard SET title=#{title}, content=#{content}, cmbImg=#{cmbImg}, status=#{status} WHERE cmbNo=#{cmbNo}
    </update>
    <delete id="deleteOne">
        DELETE FROM catsMeBoard WHERE cmbNo=#{cmbNo}
    </delete>

    <insert id="insertReviewBoard">
        INSERT INTO catsReviewBoard (memberId, nickName, profileImg, title, content, crbImg, addDate, mno)
        VALUES (#{memberId}, #{nickName}, #{profileImg}, #{title}, #{content}, #{crbImg}, now(), #{mno})
    </insert>
    <select id="selectReviewBoardAll" resultType="com.example.pink_jelly.domain.CatsReviewBoardVO">
        SELECT * FROM catsReviewBoard ORDER BY crbNo DESC
    </select>
    <select id="getReviewBoardCount" resultType="int">
        SELECT COUNT(crbNo) FROM catsReviewBoard
    </select>
    <select id="selectReviewBoardList" resultType="com.example.pink_jelly.domain.CatsReviewBoardVO">
        SELECT * FROM CatsReviewBoard ORDER BY crbNo DESC LIMIT #{skip}, #{size}
    </select>
    <select id="getReviewBoardOne" resultType="com.example.pink_jelly.domain.CatsReviewBoardVO">
        SELECT * FROM catsReviewBoard WHERE crbNo=#{crbNo}
    </select>
    <update id="updateReviewBoardHit">
        UPDATE catsReviewBoard SET hit=hit+1 WHERE crbNo=#{crbNo}
    </update>
    <update id="updateReviewBoard">
        UPDATE catsReviewBoard SET title=#{title}, content=#{content}, crbImg=#{crbImg} WHERE crbNo=#{crbNo}
    </update>
    <delete id="deleteReviewBoardOne">
        DELETE FROM catsReviewBoard WHERE crbNo=#{crbNo}
    </delete>

    <select id="isReviewBoardLike" resultType="boolean">
        select count(*) from reviewLike where mno = #{mno} and crbNo = #{crbNo};
    </select>

    <insert id="insertReviewBoardLike">
        insert into reviewLike (mno, crbNo) values (#{mno}, #{crbNo});
    </insert>

    <delete id="removeReviewBoardLike">
        delete from reviewLike where mno = #{mno} and crbNo = #{crbNo};
    </delete>

    <update id="likeCntUpdate">
        <choose>
            <when test="flag">
                update `catsReviewBoard` set `like` = `like` + 1 where crbNo = #{crbNo};
            </when>
            <when test="!flag">
                update `catsReviewBoard` set `like` = `like` - 1 where crbNo = #{crbNo};
            </when>
        </choose>
    </update>
    <update id="upCommentCnt">
        UPDATE `catsReviewBoard` SET `commentCnt`=`commentCnt`+1 WHERE crbNo=#{crbNo}
    </update>
        <update id="downCommentCnt">
        UPDATE `catsReviewBoard` SET `commentCnt`=`commentCnt`-1 WHERE crbNo=#{crbNo}
    </update>
</mapper>