<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pink_jelly.crbComment.mapper.CRBCommentMapper">

    <sql id ="adminSearch">
        <choose>
            <when test="type != null and keyword != null">
                <if test="type.equals('comment')">
                    and `comment` like concat('%',#{keyword},'%')
                </if>
                <if test="type.equals('memberId')">
                    and `memberId` like concat('%',#{keyword},'%')
                </if>
                <if test="type.equals('nickName')">
                    and `nickName` like concat('%',#{keyword},'%')
                </if>
            </when>
        </choose>
    </sql>

    <insert id="insert" parameterType="com.example.pink_jelly.crbComment.vo.CRBCommentVO" useGeneratedKeys="true" keyProperty="crbNo">
        INSERT INTO catsComment (crbNo, memberId, nickName, comment, parentNo, addDate, mno, profileImg)
        VALUES (#{crbNo}, #{memberId}, #{nickName}, #{comment}, #{parentNo}, now(), #{mno}, #{profileImg})
    </insert>
    <select id="selectAll" resultType="com.example.pink_jelly.crbComment.vo.CRBCommentVO">
            SELECT * FROM catsComment WHERE crbNo=#{crbNo} <include refid="adminSearch"/> ORDER BY parentNo ASC
    </select>
    <select id="getCount" resultType="int">
        SELECT COUNT(comNo) FROM catsComment WHERE crbNo=#{crbNo}
    </select>
    <select id="selectList" resultType="com.example.pink_jelly.crbComment.vo.CRBCommentVO">
        SELECT * FROM catsComment WHERE crbNo=#{crbNo} ORDER BY parentNo, comNo LIMIT #{skip}, #{size}
    </select>
    <delete id="deleteOne">
        DELETE FROM catsComment WHERE comNo=#{comNo}
    </delete>
    <update id="updateParentNo">
        update `catsComment` set `parentNo` = `comNo` where `parentNo` is null;
    </update>
    <update id="updateCnt">
        update `catsReviewBoard` set `commentCnt` = (select count(comNo) from catsComment where crbNo = #{crbNo});
    </update>
    <delete id="deleteAll">
        DELETE FROM catsComment WHERE parentNo=#{comNo}
    </delete>
    <select id="checkParents" resultType="int">
        select count(*) from `catsComment` where parentNo = #{comNo}
    </select>
</mapper>