<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pink_jelly.friends.mapper.FriendsMapper">
    <select id="gmingList" resultType="com.example.pink_jelly.friends.vo.FriendsVO">
        select * from friends where mno = #{mno};
    </select>
    <insert id="insertGming">
        insert into friends (memberId, nickName, mno) values (#{memberId}, #{nickName}, #{mno});
    </insert>
    <delete id="deleteGming">
        delete FROM friends where mno = #{mno} and memberId = #{memberId};
    </delete>
    <select id="isFriend" resultType="boolean">
        select count(*) from friends where mno = #{mno} and memberId = #{memberId};
    </select>
    <update id="gmingCntUpdate">
        <choose>
            <when test="flag">
                update `member` set `gmingCnt` = `gmingCnt` + 1 where mno = #{mno};
            </when>
            <when test="!flag">
                update `member` set `gmingCnt` = `gmingCnt` - 1 where mno = #{mno};
            </when>
        </choose>
    </update>


    <select id="gmerList" resultType="com.example.pink_jelly.member.vo.MemberVO">
        SELECT member.* FROM member JOIN friends ON member.mno = friends.mno WHERE friends.memberId = #{memberId};
    </select>
    <update id="gmerCntUpdate">
        UPDATE member SET gmerCnt = (SELECT COUNT(*) FROM member JOIN friends ON member.mno = friends.mno
                                     WHERE friends.memberId = #{memberId}) WHERE memberId = #{memberId};
    </update>
    <delete id="deleteGmingAll">
        delete from friends where mno=#{mno}
    </delete>
</mapper>