<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pink_jelly.mapper.MainBoardMapper">
    <insert id="insert">
        INSERT INTO mainBoard (memberId, nickName, profileImg, title, content, mainImg, addDate, myCat, variety, mno)
        VALUES (#{memberId}, #{nickName}, #{profileImg}, #{title}, #{content}, #{mainImg}, now(), #{myCat}, #{variety}, #{mno})
    </insert>
    <select id="selectAll" resultType="com.example.pink_jelly.domain.MainBoardVO">
        SELECT * FROM mainBoard ORDER BY mbNo DESC
    </select>
    <select id="getCount" resultType="int">
        SELECT COUNT(mbNo) FROM mainBoard
    </select>
    <select id="selectList" resultType="com.example.pink_jelly.domain.MainBoardVO">
        SELECT * FROM mainBoard ORDER BY mbNo desc LIMIT #{skip}, #{size}
    </select>
    <select id="getOne" resultType="com.example.pink_jelly.domain.MainBoardVO">
        SELECT * FROM mainBoard WHERE mbNo=#{mbNo}
    </select>
    <update id="updateHit">
        UPDATE mainBoard SET hit=hit+1 WHERE mbNo=#{mbNo}
    </update>
    <update id="updateBoard">
        UPDATE mainBoard SET title=#{title}, content=#{content}, mainImg=#{mainImg}, myCat=#{myCat}, variety=#{variety} WHERE mbNo=#{mbNo}
    </update>
    <delete id="deleteOne">
        DELETE FROM mainBoard WHERE mbNo=#{mbNo}
    </delete>

    <select id="isMainBoardLike" resultType="boolean">
        select count(*) from mainLike where mno = #{mno} and mbNo = #{mbNo};
    </select>
    
    <insert id="insertMainBoardLike">
        insert into mainLike (mno, mbNo) values (#{mno}, #{mbNo});
    </insert>
    
    <delete id="removeMainBoardLike">
        delete from mainLike where mno = #{mno} and mbNo = #{mbNo};
    </delete>

    <update id="likeCntUpdate">
        <choose>
            <when test="flag">
                update `mainBoard` set `like` = `like` + 1 where mbNo = #{mbNo};
            </when>
            <when test="!flag">
                update `mainBoard` set `like` = `like` - 1 where mbNo = #{mbNo};
            </when>
        </choose>
    </update>
    <update id="upCommentCnt">
        UPDATE `mainBoard` SET commentCnt = commentCnt+1 WHERE mbNo=#{mbNo}
    </update>
    <update id="downCommentCnt">
        UPDATE `mainBoard` SET commentCnt = commentCnt-1 WHERE mbNo=#{mbNo}
    </update>
</mapper>