<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pink_jelly.mapper.MemberMapper">
    <insert id="insertMember">
        insert into member (memberId, passwd, email, memberName, phone, nickName, hasCat, catAge, catSex, variety, profileImg)
        values (#{memberId}, #{passwd}, #{email}, #{memberName}, #{phone}, #{nickName}, #{hasCat}, #{catAge}, #{catSex}, #{variety}, #{profileImg});
    </insert>
    <delete id="deleteMember">
        delete FROM member where mno = #{mno};
    </delete>
    <update id="updateMember">
        update member set `email` = #{email}, `memberName` = #{memberName}, `phone` = #{phone}, `nickName` = #{nickName}, `introduce` = #{introduce}, `hasCat` = #{hasCat} where mno = #{mno};
    </update>
    <update id="updatePasswd">
        update member set `passwd` = #{passwd} where mno = #{mno};
    </update>
    <update id="updateMyCat">
        update member set `catAge` = #{catAge}, `catSex` = #{catSex}, `variety` = #{variety}, `profileImg` = #{profileImg} where mno = #{mno};
    </update>
    <select id="getMember" resultType="com.example.pink_jelly.domain.MemberVO">
        select * from member where mno = #{mno};
    </select>

    <select id="findById" resultType="com.example.pink_jelly.domain.MemberVO">
        select * from member where memberId = #{memberId};
    </select>

    <select id="findByEmail" resultType="com.example.pink_jelly.domain.MemberVO">
        select * from member where email = #{email};
    </select>

    <select id="exitsById" resultType="boolean">
        select count(*) from member where memberId = #{memberId};
    </select>

    <select id="login" resultType="com.example.pink_jelly.domain.MemberVO">
        select * from member where memberId = #{memberId} and passwd = #{passwd};
    </select>

    <select id="findByMnoWithImg" resultType="String">
        select profileImg from member where mno = #{mno};
    </select>

    <delete id="updateProfileImg">
        update member set profileImg = #{profileImg} where mno = #{mno};
    </delete>

</mapper>