<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pink_jelly.mapper.MemberMapper">
    <insert id="insertMember">
        insert into member (memberId, passwd, email, memberName, phone, nickName, isCat, catAge, catSex, variety, profileImg)
        values (#{memberId}, #{passwd}, #{email}, #{memberName}, #{phone}, #{nickName}, #{isCat}, #{catAge}, #{catSex}, #{variety}, #{profileImg});
    </insert>
    <delete id="deleteMember">
        delete FROM member where mno = #{mno};
    </delete>
    <update id="updateMember">
        update member set `email` = #{email}, `memberName` = #{memberName}, `phone` = #{phone}, `nickName` = #{nickName} where mno = #{mno};
    </update>
    <update id="updatePasswd">
        update member set `passwd` = #{passwd} where mno = #{mno};
    </update>
    <update id="updateMyCat">
        update member set `isCat` = #{isCat}, `catAge` = #{catAge}, `catSex` = #{catSex}, `variety` = #{variety}, `profileImg` = #{profileImg} where mno = #{mno};
    </update>

</mapper>